<div [@routerTransition]>
  <app-page-header [heading]="'Ration Generation Demo'"></app-page-header>
  <loader-dark *ngIf="loading"></loader-dark>

  <div class="row" *ngIf="!loading">
    <div class="col-md-12">
      <a class="btn btn-link btn-sm h6 mb-3" [routerLink]="['/programs', program.id, 'daily']">
        <span class="h6"><i class="fa fa-fw fa-arrow-left"></i> Back</span>
      </a>

      <a (click)="generateWeeklyRation()" class="btn btn-link text-primary btn-sm h6 mb-3 pull-right">
        <span class="h6"><i class="fa fa-fw fa-refresh"></i> Regenerate week plan</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <loader-dark *ngIf="fetchingRation" [label]="'Calculating...'"></loader-dark>
    </div>
  </div>

  <div class="row" *ngIf="!loading && programRation.ration && !fetchingRation">
    <div class="col-md-12">
      <h4><strong>Total Calories: {{ programRation.totalCalories }} kcals</strong></h4>
    </div>
  </div>

  <div class="row" *ngIf="!loading && programRation.ration && !fetchingRation">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div *ngFor="let ration of programRation.ration" class="card card-body mb-5 bg-light">
            <div class="d-flex justify-content-between">
              <h4><strong><a href="javascript:void(0)">{{ ration.day.name }}</a></strong></h4>
              <div class="w-50 d-flex justify-content-between">
                <strong>Proteins: {{ ration.totalProteins }}</strong>
                <strong>Carbohydrates: {{ ration.totalCarbohydrates }}</strong>
                <strong>Fats: {{ ration.totalFats }}</strong>
              </div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th class="w-50" scope="col"></th>
                  <th class="w-50" scope="col"></th>
                </tr>
              </thead>
              <tbody *ngFor="let dailyMeal of ration.dailyMeals">
                <tr>
                  <th>{{ dailyMeal.dishType.name }}</th>
                  <td>
                    <ul>
                      <li *ngFor="let dishUnitType of dailyMeal.meals">
                        <div class="col-md-12">
                          <a href="javascript:void(0)"
                             [routerLink]="['/dishes/', dishUnitType.dish.id]">{{ dishUnitType.dish.name }}</a>
                             {{ ' (' + dishUnitType.unitAmount + ' ' + dishUnitType.unitType.name + ')'}}
                        </div>
                        <label class="col-lg-4">
                          Proteins: {{ dishUnitType.protein }}
                        </label>
                        <label class="col-lg-4">
                          Carbs: {{ dishUnitType.carbohydrate }}
                        </label>
                        <label class="col-lg-4">
                          Fats: {{ dishUnitType.fat }}
                        </label>
                       </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
