<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Carbohydrate</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of ingredients">
        <td>
          <a href="javascript:void(0)"
            [ngClass]="{ 'text-danger': i.allergic }"
            (click)="onIngredientClick(i.id)" >{{ i.name }}</a>
        </td>
        <td>{{ i.protein }}</td>
        <td>{{ i.fat }}</td>
        <td>{{ i.carbohydrate }}</td>
        <td>{{ i.category.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
