.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #343A40;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 0.5s linear infinite;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 6.5px;
  margin-right: 22px;
  z-index: 2;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-with-btn {
  position: absolute;
  top: 0;
  margin-right: 50px;
}
