<div [@routerTransition]>
  <app-page-header [heading]="'Upload Ingredients'" ></app-page-header>

  <div class="row">
    <div class="col-md-12">
      <warning-message [message]="'Please be sure your csv has got the certain format!'"></warning-message>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)"
      (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
          <!-- <span>optional content (don't set headertext then)</span> -->
      </file-drop>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="table-responsive">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Size</th>
                      <th>Last modified</th>
                  </tr>
              </thead>
              <tbody class="">
                  <tr *ngFor="let item of files; let i=index">
                      <td><strong>{{ item.name }}</strong></td>
                      <td><strong>{{ item.size / 1000 + ' KB' }}</strong></td>
                      <td><strong>{{ item.lastModifiedDate + '' }}</strong></td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>

    <div class="col-md-12">
      <button (click)="upload($event)" class="btn btn-primary pull-right">Upload</button>
    </div>
  </div>

</div>
