<div class="form-group row">
  <label class="col-lg-2 col-form-label">
    <h5>Optional param:</h5>
  </label>
  <div class="col-lg-3">
    <ng-select
            name="type"
            [placeholder]="'Select a optional param...'"
            [bindLabel]="'name'"
            [(ngModel)]="ingredientOptionParam.param"
            (ngModelChange)="onChange()"
            [items]="optionParams"></ng-select>
    <!-- <div class="invalid-feedback">{{ error.unitTypes }}</div> -->
  </div>
  <div class="col-lg-2">
    <input
            name="weight"
            [(ngModel)]="ingredientOptionParam.weight"
            (ngModelChange)="onChange()"
            class="form-control"
            type="text" placeholder="grams.." />
    <!-- <div class="invalid-feedback">{{ error.weight }}</div> -->
  </div>
</div>
