<form (ngSubmit)="onSubmit()" #form>
  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Name:</h5>
    </label>
    <div class="col-lg-10">
      <input
        name="name"
        [(ngModel)]="ingredient.name"
        class="form-control"
        [ngClass]="{ 'is-invalid': error.name }"
        type="text" placeholder="Name of the ingredient..."/>
      <div class="invalid-feedback">{{ error.name }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Category:</h5>
    </label>

    <ng-template #categoryFormsContainer></ng-template>
  </div>
  <error-message *ngIf="error.category" [message]="error.category"></error-message>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Allergenicity:</h5>
    </label>
    <div class="col-lg-4">
      <select
        name="allergic"
        class="form-control"
        [(ngModel)]="ingredient.allergic"
        [ngClass]="{ 'is-invalid': error.allergic }" >
        <option value="false">Non-allergic</option>
        <option value="true">Allergic</option>
      </select>
      <div class="invalid-feedback">{{ error.allergic }}</div>
    </div>

    <div class="form-check col-lg-2">
      <label class="form-check-label" for="isADishCheckbox"><h5>Is a dish:</h5></label>
      <input [(ngModel)]="isADish" name="isADish" type="checkbox" class="form-check-input ml-3" id="isADishCheckbox">
    </div>

    <div *ngIf="isADish" class="col-lg-4">
      <input
        name="weight"
        class="form-control"
        [(ngModel)]="dish.weight"
        [ngClass]="{ 'is-invalid': error.dishWeight }"
        type="text" placeholder="Weight of the dish in grams..."/>
        <div class="invalid-feedback">{{ error.dishWeight }}</div>
    </div>
  </div>

  <div *ngIf="ingredient.category && ingredient.category.ingredientProperties && ingredient.category.ingredientProperties.length">
    <div class="form-group row" *ngFor="let prop of ingredient.category.ingredientProperties">
      <label class="col-lg-2 col-form-label">
        <h5>{{ prop.type.name }}</h5>
      </label>

      <div class="col-lg-10">
        <input
          name="ingredientPropValue"
          class="form-control"
          type="text"
          [(ngModel)]="ingredientPropValue"
          (ngModelChange)="onIngredientPropertyChange(prop)"
          [placeholder]="'Enter ' + prop.type.name + '...'"/>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Protein:</h5>
    </label>
    <div class="col-lg-2">
      <input
        name="protein"
        class="form-control"
        [(ngModel)]="ingredient.protein"
        [ngClass]="{ 'is-invalid': error.protein }"
        type="text" placeholder="in 100 gram..."/>
      <div class="invalid-feedback">{{ error.protein }}</div>
    </div>

    <label class="col-lg-2 col-form-label">
      <h5>Carbohydrate:</h5>
    </label>
    <div class="col-lg-2">
      <input
        name="carbohydrate"
        class="form-control"
        [(ngModel)]="ingredient.carbohydrate"
        [ngClass]="{ 'is-invalid': error.carbohydrate }"
        type="text" placeholder="in 100 gram..."/>
      <div class="invalid-feedback">{{ error.carbohydrate }}</div>
    </div>

    <label class="col-lg-2 col-form-label">
      <h5>Fat:</h5>
    </label>
    <div class="col-lg-2">
      <input
        name="fat"
        class="form-control"
        [(ngModel)]="ingredient.fat"
        [ngClass]="{ 'is-invalid': error.fat }"
        type="text" placeholder="in 100 gram..."/>
      <div class="invalid-feedback">{{ error.fat }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Energy amount:</h5>
    </label>
    <div class="col-lg-4">
      <!-- Input only for ALCOHOL category -->
      <input
        *ngIf="ingredient.category ? ingredient.category.code !== 'ALCOHOL' : true"
        name="energyAmount"
        class="form-control"
        readonly
        [value]="energyAmount(ingredient.protein, ingredient.fat, ingredient.carbohydrate) + ' kilokalories'"
        type="text" placeholder="kilocalories..."/>

      <input
        *ngIf="ingredient.category && ingredient.category.code === 'ALCOHOL'"
        name="kilocalories"
        class="form-control"
        [(ngModel)]="ingredient.kilocalories"
        [value]="energyAmount(ingredient.protein, ingredient.fat, ingredient.carbohydrate)"
        type="text" placeholder="kilocalories..."/>
    </div>

    <label class="col-lg-2 col-form-label">
      <h5>Glycemic index:</h5>
    </label>
    <div class="col-lg-4">
      <input
        name="glycemicIndex"
        class="form-control"
        [(ngModel)]="ingredient.glycemicIndex"
        type="text" placeholder="Glycemic index of ingredient..."/>
    </div>
  </div>

  <ng-template #optionParamFormsContainer></ng-template>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5></h5>
    </label>
    <div class="col-lg-5 d-flex justify-content-between">
      <a (click)="addOptionParamForm(optionParamClass)" href="javascript:void(0)" class="h6 text-primary">
        <i class="fa fa-fw fa-plus"></i> Another optional param
      </a>
      <a href="javascript:void(0)" class="h6 text-primary"
         (click)="removeOptionParamForm(optionParamClass)"
         *ngIf="optionParamFormComponents.length > 1" >
        <i class="fa fa-fw fa-minus"></i> Remove optional param
      </a>
    </div>
  </div>

  <ng-template #unitTypeFormsContainer></ng-template>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5></h5>
    </label>
    <div class="col-lg-5 d-flex justify-content-between">
      <a (click)="addUnitTypeForm(formClass)" href="javascript:void(0)" class="h6 text-primary">
        <i class="fa fa-fw fa-plus"></i> Another unit type
      </a>
      <a href="javascript:void(0)" class="h6 text-primary"
        (click)="removeUnitTypeForm(formClass)"
        *ngIf="unitTypeFormComponents.length > 1" >
        <i class="fa fa-fw fa-minus"></i> Remove unit type
      </a>
    </div>
  </div>

  <button type="submit" class="btn btn-primary text-light h6 pull-right">
    <i class="fa fa-fw fa-check-square-o"></i> Confirm
  </button>
</form>
