<div [@routerTransition]>
  <app-page-header [heading]="'Connection error'"></app-page-header>

  <div class="row">
    <div class="col-md-12">
      <error-message [message]="'Server is not responding :('"></error-message>
    </div>
  </div>
</div>
