<div [@routerTransition]>
  <app-page-header [heading]="ingredient.name" *ngIf="!loading" ></app-page-header>
  <loader-dark [class]="'mt-5'" *ngIf="loading"></loader-dark>

  <div *ngIf="!loading"  class="row">
    <div class="col-md-12">
      <success-message *ngIf="successEdit" [message]="successEdit"></success-message>
      <success-message *ngIf="successUnitTypesEdit" [message]="successUnitTypesEdit"></success-message>
      <success-message *ngIf="successOptionParamsEdit" [message]="successOptionParamsEdit"></success-message>
    </div>
  </div>

  <div *ngIf="!loading" class="row">
    <div class="col-md-12">
      <a class="btn btn-link btn-sm text-primary h6 mb-3" [routerLink]="[routerService.getPrevUrl()]">
        <span class="h6"><i class="fa fa-fw fa-arrow-circle-left"></i> Back</span>
      </a>
      <a class="btn btn-danger btn-sm  text-light h6 pull-right mb-3 ml-2" (click)="openConfirmModal(deleteConfirm)">
        <span class="h6"><i class="fa fa-fw fa-trash-o"></i> Delete</span>
      </a>
      <a class="btn btn-secondary btn-sm  text-light h6 pull-right mb-3 ml-2" [routerLink]="['/ingredients/', ingredient.id, 'edit']">
        <span class="h6"><i class="fa fa-fw fa-pencil"></i> Edit</span>
      </a>

      <div class="dropdown pull-right" ngbDropdown>
        <button href="javascript:void(0)" class="btn btn-primary btn-sm text-light h6" ngbDropdownToggle>
          <span class="h6"><i class="fa fa-plus"></i> Add new <b class="caret"></b></span>
        </button>
        <div class="dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/ingredients/' + ingredient.id + '/cookingtypes']">
            <span class="h6">Cooking types</span>
          </a>
          <a class="dropdown-item" [routerLink]="['/ingredients/' + ingredient.id + '/alternatives']">
            <span class="h6">Alternatives</span>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="ingredient-details d-flex justify-content-between">
            <div class="text-body col-md-9">
              <div class="row">
                <label class="col-lg-4">
                  <h5><strong>Category:</strong></h5>
                </label>
                <div class="col-lg-8">
                  <h5>{{ ingredient.category.name }}</h5>
                </div>
              </div>

              <div class="row">
                <label class="col-lg-4">
                  <h5><strong>Allergic:</strong></h5>
                </label>
                <div class="col-lg-8">
                  <h5>{{ ingredient.allergic ? 'Yes' : 'No' }}</h5>
                </div>
              </div>

              <div *ngIf="ingredientProps && ingredientProps.length">
                <div *ngFor="let iprop of ingredientProps" class="row">
                  <label class="col-lg-4">
                    <h5><strong>{{ iprop.property.type.name }}:</strong></h5>
                  </label>
                  <div class="col-lg-8">
                    <h5>{{ iprop.value + ' ' + iprop.property.unitDataType.name }}</h5>
                  </div>
                </div>
              </div>

              <div class="row">
                <label class="col-lg-4">
                  <h5><strong>Glycemic index:</strong></h5>
                </label>
                <div class="col-lg-8">
                  <h5>{{ ingredient.glycemicIndex }}</h5>
                </div>
              </div>

              <div class="row">
                <label class="col-lg-4">
                  <h5><strong>Energy amount:</strong></h5>
                </label>
                <div class="col-lg-8">
                  <h5>{{ ingredient.kilocalories }} kilocalories</h5>
                </div>
              </div>

              <div class="row mt-2">
                <label class="col-lg-4">
                  <h5><strong>Macronutrients:</strong></h5>
                </label>
                <div class="col-lg-8">
                  <div class="card">
                    <div class="card-body">
                      <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="'pie'">
                      </canvas>
                    </div>
                    <div class="card-footer">
                      <small>grams in 100 gram of ingredient</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="image col-md-12">
                Photo down here...
              </div>
            </div>
          </div>



          <!-- UNIT TYPES COMPONENT -->
          <app-ingredient-option-params
            (saveOptionParams)="saveOptionParams($event)"
            (deleteOptionParams)="deleteOptionParams($event)"
            [optionParams]="optionParams"
            [ingredientOptionParamsInput]="ingredientOptionParams"></app-ingredient-option-params>

            <!-- OPTIONAL PARAM COMPONENT -->
          <ingredient-unit-types
            (saveUnitTypes)="saveUnitTypes($event)"
            [ingredient]="ingredient"
            [unitTypes]="unitTypes"></ingredient-unit-types>

          <!-- COOKING TYPES COMPONENT -->
          <div *ngIf="ingredientCookingTypes.length" class="col-md-12">
            <div class="row mt-5">
              <label class="col-lg-3">
                <h5><strong>Cooking types:</strong></h5>
              </label>
              <div class="col-lg-6">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Property</th>
                      <th scope="col">Change percent</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let cType of ingredientCookingTypes">
                    <tr *ngFor="let prop of cType.props">
                      <td>{{ cType.cookingType.name }}</td>
                      <td>{{ prop.changableProp.name }}</td>
                      <td>{{ prop.differenceCoefficient * 100 }}%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-12">
              <div class="row mt-3">
                <label class="col-md-12">
                  <h5><strong>Alternatives:</strong></h5>
                </label>

                <div class="col-md-12">
                  <info-message *ngIf="ingredientAlternativesIsEmpty()" [message]="'This ingredient has got no alternatives'">
                  </info-message>
                </div>

                <div *ngFor="let a of ingredientAlternatives" class="col-md-12">
                  <table *ngIf="a.ingredients.length" class="table">
                    <thead>
                      <tr>
                        <th class="w-20" scope="col">{{ a.category.code + ' ' + a.relation.code }}</th>
                        <th class="w-20" scope="col">Protein</th>
                        <th class="w-20" scope="col">Fat</th>
                        <th class="w-20" scope="col">Carbohydrate</th>
                        <th class="w-20">Energy amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of a.ingredients">
                        <td>
                          <a href="javascript:void(0)"
                             [routerLink]="['/ingredients/', i.id]"
                             [ngClass]="{ 'text-danger': i.allergic }">{{ i.name }}</a>
                        </td>
                        <td>{{ i.protein }} g</td>
                        <td>{{ i.fat }} g</td>
                        <td>{{ i.carbohydrate }} g</td>
                        <td>{{ energyAmount(i.protein, i.fat, i.carbohydrate) }} kcals</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete dish confirmation modal window -->
  <ng-template #deleteConfirm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Confirm</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p class="text-center">Are you sure you want to delete <strong><em>{{ ingredient.name }}</em></strong>?</p>
        <loader-dark *ngIf="deleting" [class]="'mt-5'" [label]="'Deleting...'"></loader-dark>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleteIngredient(); c('Close click')">Delete</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

</div>
