.add-ingredients-list {
  margin-top: 20px;
  padding: 0;
  list-style: none;

  li {
    background-color: #EFF1F2;
    padding: 5px 0 5px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}

.alternatives-table-container {
  min-height: 250px;
}
