<div [@routerTransition]>
  <app-page-header *ngIf="ingredient && !loading"  [heading]="ingredient.name" ></app-page-header>
  <loader-dark [class]="'mt-5'" *ngIf="loading"></loader-dark>

  <div class="row">
    <div class="col-md-12">
      <success-message *ngIf="ingredientAlternativeSaved" [message]="'Alternatives is successfully added!'"></success-message>
    </div>
  </div>

  <div class="row" *ngIf="ingredient && !loading">
    <div class="col-md-12">
      <a class="btn btn-link btn-sm text-primary h6 mb-3" [routerLink]="[routerService.getPrevUrl()]">
        <span class="h6"><i class="fa fa-fw fa-arrow-circle-left"></i> Back</span>
      </a>
      <a class="btn btn-primary btn-sm  text-light h6 pull-right mb-3 ml-2" [routerLink]="['/ingredients/' + ingredient.id]">
        <span class="h6"><i class="fa fa-fw fa-info"></i> Details</span>
      </a>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #form>
            <div class="form-group row">
              <label class="col-lg-2 col-form-label">
                <h5>Ingredients:</h5>
              </label>

              <div class="col-lg-10">
                <input
                  name="ingredientSearchName"
                  class="form-control"
                  type="text"
                  placeholder="Search an ingredient.."
                  [(ngModel)]="ingredientSearchName"
                  (ngModelChange)="onSearchIngredientChange()" />
                  <loader-dark-input *ngIf="searching"></loader-dark-input>


                  <!-- <ul class="add-ingredients-list">
                    <li *ngFor="let i of alternativeIngredients">
                      <span class="text-muted h6"><strong>{{ i.name }}</strong>
                        <a (click)="removeAlternativeIngredient(i.id)" href="javascript:void(0)" class="ml-5 pull-right close">
                          <i class="fa fa-fw fa-trash"></i>
                        </a>
                      </span>
                    </li>
                  </ul> -->
              </div>
            </div>

            <ingredients-table
            *ngIf="ingredients && ingredients.length"
            [ingredients]="ingredients"
            (addIngredient)="addAlternativeIngredient($event)"></ingredients-table>

            <div class="table-responsive alternatives-table-container" *ngIf="alternativeIngredients && alternativeIngredients.length">
              <h5>Selected:</h5>
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Alternatives category</th>
                    <th>Alternatives relation</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of alternativeIngredients" [ngClass]="{ 'text-danger': i.allergic }">
                    <td>
                      <a href="javascript:void(0)"
                        [ngClass]="{ 'text-danger': i.allergic }">{{ i.name }}</a>
                    </td>
                    <td>
                      <select
                        #categoryInput
                        name="category"
                        class="form-control"
                        (change)="onCategoryChange(i.id, categoryInput)" >
                        <option disabled>Select a category..</option>
                        <option *ngFor="let c of categories">{{ c.code }}</option>
                      </select>
                    </td>
                    <td>
                      <select
                        #relationInput
                        class="form-control"
                        (change)="onRelationChange(i.id, relationInput)">
                        <option disabled>Select a relation..</option>
                        <option *ngFor="let r of relations">{{ r.code }}</option>
                      </select>
                    </td>
                    <td>
                      <a (click)="removeAlternativeIngredient(i.id)" href="javascript:void(0)" class="ml-5 pull-right close">
                        <i class="fa fa-fw fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <error-message *ngIf="error" [message]="error"></error-message>
            <loader-dark *ngIf="processing" [label]="'Saving...'"></loader-dark>

            <button type="submit" class="btn btn-primary text-light h6 pull-right">
              <i class="fa fa-fw fa-check-square-o"></i> Confirm
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
