<form (ngSubmit)="onSubmit()" #form>
  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Name:</h5>
    </label>
    <div class="col-lg-10">
      <input
        name="name"
        [(ngModel)]="ingredient.name"
        class="form-control"
        [ngClass]="{ 'is-invalid': error.name }"
        type="text" placeholder="Name of the ingredient..."/>
      <div class="invalid-feedback">{{ error.name }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Category:</h5>
    </label>

    <ng-template #categoryFormsContainer></ng-template>
  </div>
  <error-message *ngIf="error.category" [message]="error.category"></error-message>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Allergenicity:</h5>
    </label>
    <div class="col-lg-4">
      <select
        name="allergic"
        class="form-control"
        [(ngModel)]="ingredient.allergic"
        [ngClass]="{ 'is-invalid': error.allergic }" >
        <option value="false">Non-allergic</option>
        <option value="true">Allergic</option>
      </select>
      <div class="invalid-feedback">{{ error.allergic }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Protein:</h5>
    </label>
    <div class="col-lg-2">
      <input
        name="protein"
        class="form-control"
        [(ngModel)]="ingredient.protein"
        [ngClass]="{ 'is-invalid': error.protein }"
        type="text" placeholder="in 100 gram..."/>
      <div class="invalid-feedback">{{ error.protein }}</div>
    </div>

    <label class="col-lg-2 col-form-label">
      <h5>Carbohydrate:</h5>
    </label>
    <div class="col-lg-2">
      <input
        name="carbohydrate"
        class="form-control"
        [(ngModel)]="ingredient.carbohydrate"
        [ngClass]="{ 'is-invalid': error.carbohydrate }"
        type="text" placeholder="in 100 gram..."/>
      <div class="invalid-feedback">{{ error.carbohydrate }}</div>
    </div>

    <label class="col-lg-2 col-form-label">
      <h5>Fat:</h5>
    </label>
    <div class="col-lg-2">
      <input
        name="fat"
        class="form-control"
        [(ngModel)]="ingredient.fat"
        [ngClass]="{ 'is-invalid': error.fat }"
        type="text" placeholder="in 100 gram..."/>
      <div class="invalid-feedback">{{ error.fat }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Energy amount:</h5>
    </label>
    <div class="col-lg-4">
      <!-- Input only for ALCOHOL category -->
      <input
        *ngIf="ingredient.category ? ingredient.category.code !== 'ALCOHOL' : true"
        name="energyAmount"
        class="form-control"
        readonly
        [value]="energyAmount(ingredient.protein, ingredient.fat, ingredient.carbohydrate) + ' kilokalories'"
        type="text" placeholder="kilocalories..."/>

      <input
        *ngIf="ingredient.category && ingredient.category.code === 'ALCOHOL'"
        name="kilocalories"
        class="form-control"
        [(ngModel)]="ingredient.kilocalories"
        [value]="energyAmount(ingredient.protein, ingredient.fat, ingredient.carbohydrate)"
        type="text" placeholder="kilocalories..."/>
    </div>

    <label class="col-lg-2 col-form-label">
      <h5>Glycemic index:</h5>
    </label>
    <div class="col-lg-4">
      <input
        name="glycemicIndex"
        class="form-control"
        [(ngModel)]="ingredient.glycemicIndex"
        [ngClass]="{ 'is-invalid': error.glycemicIndex }"
        type="text" placeholder="Glycemic index of ingredient..."/>
      <div class="invalid-feedback">{{ error.glycemicIndex }}</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary text-light h6 pull-right">
    <i class="fa fa-fw fa-check-square-o"></i> Confirm
  </button>
</form>
