<div [@routerTransition]>
  <app-page-header [heading]="dishNameHeading" *ngIf="!loading" ></app-page-header>
  <loader-dark [class]="'mt-5'" *ngIf="loading"></loader-dark>

  <div *ngIf="!loading" class="row">
    <div class="col-md-12">
      <a class="btn btn-link btn-sm text-primary h6 mb-3" [routerLink]="[routerService.getPrevUrl()]">
        <span class="h6"><i class="fa fa-fw fa-arrow-circle-left"></i> Back</span>
      </a>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <edit-dish-form
            (submitDish)="editDish($event)"
            [dish]="dish"
            [dishTypes]="dishTypes"
            [dishCategories]="dishCategories"
            [dishUnitTypes]="dishUnitTypes"
            [cookingTypes]="cookingTypes"></edit-dish-form>
        </div>
      </div>
    </div>

  </div>

</div>
