<div class="form-group input-group">
  <input type="text" class="form-control" placeholder="Search..."
    name="query"
    (input)="onSearchInputChange()"
    [(ngModel)]="query">

  <div class="input-group-append">
    <button class="btn btn-secondary" type="button" disabled><i class="fa fa-search"></i></button>
  </div>
</div>
