<div [@routerTransition]>
  <app-page-header [heading]="'New Ingredient'"></app-page-header>

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="ingredientSaved" class="alert alert-success text-center" role="alert">
        <h4 class="alert-heading">Ingredient is successfully saved!</h4>
        <hr>
        <p class="mb-0">
          Do you want to <a [routerLink]="['/ingredients/' + newIngredientId + '/alternatives']" class="alert-link">add alernatives</a> for this ingredient?
        </p>
      </div>
      <div *ngIf="dishSaved" class="alert alert-success text-center" role="alert">
        <p class="mb-0">
          Ingredient is also added as a dish!
        </p>
      </div>
    </div>
  </div>

  <div class="card mb-3 mt-3" *ngIf="!loading">
    <div class="card-body">
      <add-ingredient-form
        (submitIngredient)="createIngredient($event)"
        (submitIngredientProperties)="setIngredientProperties($event)"
        (submitDish)="createDish($event)"
        [categories]="categories"
        [unitTypes]="unitTypes"
        [optionParams]="optionParams"></add-ingredient-form>

      <loader-dark *ngIf="processing" [label]="'Saving...'"></loader-dark>
    </div>
  </div>

</div>
