<div [@routerTransition]>
  <app-page-header [heading]="'Programs'"></app-page-header>
  <loader-dark *ngIf="loading"></loader-dark>

  <div class="row" *ngIf="!loading">
    <div class="col-md-12">
      <div *ngFor="let program of programs" class="card mb-3">
        <div class="card-body d-flex justify-content-between">
          <div class="col-md-10 p-0">
            <h4><a href="javascript:void(0)">{{ program.name }}</a></h4>

            <div class="row mt-3">
              <label class="col-lg-4">
                <h5><strong>Purpose:</strong></h5>
              </label>
              <div class="col-lg-8">
                <h5><em>{{ program.purpose.name }}</em></h5>
              </div>
            </div>

            <div class="row mt-2">
              <label class="col-lg-4">
                <h5><strong>Difference in calories:</strong></h5>
              </label>
              <div class="col-lg-8">
                <h5><em>{{  program.caloriesDifferenceCoefficient * 100 }}% of daily calories</em></h5>
              </div>
            </div>

            <div class="row mt-2" *ngIf="program.programDishTypes.length">
              <label class="col-lg-4">
                <h5><strong>{{  program.programDishTypes.length }} Food intakes:</strong></h5>
              </label>
              <div class="col-lg-8">
                <h5>
                  <em>
                    <li *ngFor="let type of program.programDishTypes">
                      {{ type.dishType.name }} ({{ type.caloriesPercentage * 100 }}% of calories)
                    </li>
                  </em>
                </h5>
              </div>
            </div>
          </div>
          <div class="p-0">
            <a [routerLink]="['/programs/' + program.id + '/daily']" class="btn btn-primary btn-sm h6">
              <i class="fa fa-fw fa-heartbeat"></i> Meal plan
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
