/* Ng-select invalid feedback styles override */
.form-control.ng-select {
    border: none;
    padding: 0;
}

.form-control.ng-select.is-invalid {
    border: 1px solid #dc3545;
}

.ingredients-table-container {
  min-height: 250px;
}

.no-border {
  border: 0;
}
