<form (ngSubmit)="onSubmit()" #form>
  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Name:</h5>
    </label>
    <div class="col-lg-10">
      <input
        name="name"
        [(ngModel)]="dish.name"
        class="form-control"
        [ngClass]="{ 'is-invalid': error.name }"
        type="text" placeholder="Name of the dish..."/>
      <div class="invalid-feedback">{{ error.name }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Description:</h5>
    </label>
    <div class="col-lg-10">
      <textarea
        name="description"
        rows="5"
        [(ngModel)]="dish.description"
        class="form-control"
        type="text" placeholder="Description of the dish..."></textarea>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Recipe Link:</h5>
    </label>
    <div class="col-lg-4">
      <input
        name="recipeLink"
        [(ngModel)]="dish.recipeLink"
        class="form-control"
        type="text" placeholder="Link to the recipe..."/>
    </div>

    <label class="col-lg-2 col-form-label">
      <h5>Cooking Types:</h5>
    </label>
    <div class="col-lg-4">
      <ng-select
        name="cookingTypes"
        [ngClass]="{ 'form-control is-invalid': error.cookingTypes }"
        [placeholder]="'Select a dish cooking type...'"
        [bindLabel]="'name'"
        [items]="cookingTypes"
        [(ngModel)]="dish.cookingTypes"
        [multiple]="true"
        [closeOnSelect]="false" >
      </ng-select>
      <div class="invalid-feedback">{{ error.cookingTypes }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Category:</h5>
    </label>
    <div class="col-lg-4">
      <ng-select
        name="categories"
        [ngClass]="{ 'form-control is-invalid': error.dishCategory }"
        [placeholder]="'Select a dish category...'"
        [bindLabel]="'name'"
        [items]="dishCategories"
        [(ngModel)]="dish.categories"
        [multiple]="true"
        [closeOnSelect]="false" >
      </ng-select>
      <div class="invalid-feedback">{{ error.dishCategory }}</div>
    </div>

    <label class="col-lg-2 col-form-label">
      <h5>Serving:</h5>
    </label>
    <div class="col-lg-2">
      <ng-select
        name="type"
        [ngClass]="{ 'form-control is-invalid': error.servingType }"
        [placeholder]="'Unit type...'"
        [bindLabel]="'name'"
        [items]="dishUnitTypes"
        (ngModelChange)="onServingInputChange()"
        [(ngModel)]="dish.unitTypes[0].type" >
      </ng-select>
      <div class="invalid-feedback">{{ error.servingType }}</div>
    </div>

    <div class="col-lg-2">
      <input class="form-control" type="text" placeholder="Grams in 1 unit..."
        name="weight"
        [ngClass]="{ 'is-invalid': error.servingWeight }"
        [disabled]="servingAmountDisabled"
        [(ngModel)]="dish.unitTypes[0].weight">
      <div class="invalid-feedback">{{ error.servingWeight }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Type:</h5>
    </label>
    <div class="col-lg-10">
      <ng-select
        name="dishTypes"
        [ngClass]="{ 'form-control is-invalid': error.dishTypes }"
        [placeholder]="'Select a dish type...'"
        [bindLabel]="'name'"
        [items]="dishTypes"
        [multiple]="true"
        [(ngModel)]="dish.dishTypes"
        [closeOnSelect]="false" >
      </ng-select>
    <div class="invalid-feedback">{{ error.dishTypes }}</div>
    </div>
  </div>


  <div class="form-group row">
      <label class="col-lg-2 col-form-label">
        <h5>Carbohydrate:</h5>
      </label>
      <div class="col-lg-1">
        <input
          name="carbohydrate"
          class="form-control"
          [(ngModel)]="dish.carbohydrate"
          [ngClass]="{ 'is-invalid': error.carbohydrate }"
          type="text"/>
        <div class="invalid-feedback">{{ error.carbohydrate }}</div>
      </div>

      <label class="col-lg-2 col-form-label">
        <h5>Protein:</h5>
      </label>
      <div class="col-lg-1">
        <input
          name="protein"
          class="form-control"
          [(ngModel)]="dish.protein"
          [ngClass]="{ 'is-invalid': error.protein }"
          type="text"/>
        <div class="invalid-feedback">{{ error.protein }}</div>
      </div>

      <label class="col-lg-2 col-form-label">
        <h5>Fat:</h5>
      </label>
      <div class="col-lg-1">
        <input
          name="fat"
          class="form-control"
          [(ngModel)]="dish.fat"
          [ngClass]="{ 'is-invalid': error.fat }"
          type="text"/>
        <div class="invalid-feedback">{{ error.fat }}</div>
      </div>

      <label class="col-lg-2 col-form-label">
        <h5>Weight:</h5>
      </label>
      <div class="col-lg-1">
        <input
          name="fat"
          class="form-control"
          [(ngModel)]="dish.weight"
          [ngClass]="{ 'is-invalid': error.weight }"
          type="text"/>
        <div class="invalid-feedback">{{ error.weight }}</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-lg-2 col-form-label">
        <h5>Recipe description:</h5>
      </label>
      <div class="col-lg-10">
        <textarea
          name="recipeDescription"
          rows="6"
          [(ngModel)]="dish.recipeDescription"
          class="form-control"
          type="text" placeholder="Recipe description of the dish..."></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-primary text-light h6 mt-3 pull-right">
      <i class="fa fa-fw fa-check-square-o"></i> Confirm
    </button>
</form>
