<div class="card">
  <div class="card-body d-flex">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-lg-4 col-form-label">
          <h5>Category:</h5>
        </label>
        <div class="col-lg-6">
          <ng-select
            name="categories"
            [placeholder]="'Select a dish category...'"
            [bindLabel]="'name'"
            [items]="dishCategories"
            [(ngModel)]="selectedCategories"
            (change)="onCategoryChange()"
            [multiple]="true"
            [closeOnSelect]="false" >
          </ng-select>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-lg-4 col-form-label">
          <h5>Dish types:</h5>
        </label>
        <div class="col-lg-8">
          <div *ngFor="let t of dishTypes" class="checkbox">
            <label>
              <input #checkbox (change)="onDishTypeChange(t.name, checkbox)" type="checkbox" [value]="t.name"> {{ t.name }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
