<div [@routerTransition]>

  <app-page-header [heading]="'Ingredients'"></app-page-header>

  <div class="row">
    <div class="col-md-12">
      <success-message *ngIf="successDelete" [message]="successDelete"></success-message>
    </div>
  </div>

  <a class="pull-right" [routerLink]="['/ingredients/upload']"><strong><i class="fa fa-upload" aria-hidden="true"></i> Upload CSV</strong></a>

  <list [columns]="columns"
        [items]="list$.data"
        [updateButton]="true"
        [resetFilters]="true"
        (rowClicked)="onRowClicked($event)"
        addRowUrl="/ingredients/new"></list>

  <paginator *ngIf="list$.items"
             [total]='list$.items.total'
             [limit]='20'
             [pageSizeOptions]="[10, 20, 30, 50]"></paginator>

  <!--<div class="card mb-3" *ngIf="!loading">-->
    <!--<div class="card-body">-->
      <!--<div class="table-responsive">-->
        <!--<h6 class="pull-right mt-2 float-right ml-3">-->
          <!--<span class="text-danger">*</span> - potential allergen-->
        <!--</h6>-->
        <!--<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">-->
          <!--<thead>-->
            <!--<tr>-->
              <!--<th class="w-14">Name</th>-->
              <!--<th class="w-14">Protein</th>-->
              <!--<th class="w-14">Fat</th>-->
              <!--<th class="w-14">Carbohydrate</th>-->
              <!--<th class="w-14">Energy amount</th>-->
              <!--<th class="w-14">Glycemic index</th>-->
              <!--<th class="w-14">Category</th>-->
            <!--</tr>-->
          <!--</thead>-->
          <!--<tfoot>-->
            <!--<tr>-->
              <!--<th>Name</th>-->
              <!--<th>Protein</th>-->
              <!--<th>Fat</th>-->
              <!--<th>Carbohydrate</th>-->
              <!--<th>Energy amount</th>-->
              <!--<th>Glycemic index</th>-->
              <!--<th>Category</th>-->
            <!--</tr>-->
          <!--</tfoot>-->
          <!--<tbody>-->
            <!--<tr *ngFor="let i of ingredients" [ngClass]="{ 'text-danger': i.allergic }">-->
              <!--<td>-->
                <!--<a [routerLink]="['/ingredients/', i.id]" [ngClass]="{ 'text-danger': i.allergic }">{{ i.name }}</a>-->
              <!--</td>-->
              <!--<td>{{ i.protein }}</td>-->
              <!--<td>{{ i.fat }}</td>-->
              <!--<td>{{ i.carbohydrate }}</td>-->
              <!--<td>{{ energyAmount(i.protein, i.fat, i.carbohydrate) }}</td>-->
              <!--<td>{{ i.glycemicIndex }}</td>-->
              <!--<td>{{ i.category.name }}</td>-->
            <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</div>-->
      <!--<a class="btn btn-primary btn-sm mt-2 text-light h6" [routerLink]="['/ingredients/new']"><span class="h6"><i class="fa fa-fw fa-plus"></i> Add new</span></a>-->
    <!--</div>-->
  <!--</div>-->
</div>
