.ingredient-details {

  .image {
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    line-height: 150px;
  }
}

.w-10 {
  width: 10%;
}

.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.no-border-top {
  border-top: 0;
}
