<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead class="thead-dark">
    <tr>
      <th class="w-25">Name</th>
      <th class="w-25">Protein</th>
      <th class="w-25">Fat</th>
      <th class="w-25">Carbohydrate</th>
      <th *ngIf="!noDetails" class="w-25">Actions</th>
    </tr>
    </thead>
    <tbody *ngFor="let i of ingredients">
    <tr>
      <td>
        <a (click)="onIngredientClick(i.id)"
            class="btn btn-link text-primary"
           [ngClass]="{ 'text-danger': i.allergic }" ><strong>{{ i.name }}</strong></a>
      </td>
      <td>{{ i.protein }}</td>
      <td>{{ i.fat }}</td>
      <td>{{ i.carbohydrate }}</td>
      <td *ngIf="!noDetails" class="d-flex justify-content-between no-border-top">
        <button
          type="button"
          class="btn btn-link text-primary mb-2"
          (click)="collapseIngredientDetails(ingredients.indexOf(i), i.id)"
          [attr.aria-expanded]="!isCollapsed[ingredients.indexOf(i)]"
          [attr.aria-controls]="'ingredient' + i.id">
          <span class="h6">Details <i class="fa fa-fw fa-caret-down"></i></span>
        </button>
      </td>
    </tr>

    <tr class="thead-light" [id]="'ingredient' + i.id" [ngbCollapse]="isCollapsed[ingredients.indexOf(i)]">
      <td colspan="6">
        <div>
          <loader-dark *ngIf="ingredientDetailsFetching"></loader-dark>

          <div *ngIf="!ingredientDetailsFetching && ingredientDetails">
            <div class="ingredient-details d-flex justify-content-between">
              <div class="text-body col-md-9">
                <div class="row">
                  <label class="col-lg-4">
                    <h6><strong>Category:</strong></h6>
                  </label>
                  <div class="col-lg-8">
                    <h6><em>{{ ingredientDetails.category.name }}</em></h6>
                  </div>
                </div>

                <div class="row">
                  <label class="col-lg-4">
                    <h6><strong>Allerginicity:</strong></h6>
                  </label>
                  <div class="col-lg-8">
                    <h6><em>{{ ingredientDetails.allergic ? 'Yes' : 'No' }}</em></h6>
                  </div>
                </div>

                <div class="row">
                  <label class="col-lg-4">
                    <h6><strong>Glycemic index:</strong></h6>
                  </label>
                  <div class="col-lg-8">
                    <h6><em>{{ ingredientDetails.glycemicIndex }}</em></h6>
                  </div>
                </div>

                <div class="row">
                  <label class="col-lg-4">
                    <h6><strong>Energy amount:</strong></h6>
                  </label>
                  <div class="col-lg-8">
                    <h6><em>{{ energyAmount(ingredientDetails.protein, ingredientDetails.fat, ingredientDetails.carbohydrate) }} kilocalories</em></h6>
                  </div>
                </div>

              </div>
              <div class="col-md-3">
                <div class="image col-md-12">
                  Photo down here...
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <label class="col-md-12">
                  <h6><strong>Alternatives:</strong></h6>
                </label>

                <div class="col-md-12">
                  <info-message *ngIf="ingredientAlternativesIsEmpty()" [message]="'This ingredient has got no alternatives'">
                  </info-message>
                </div>

                <div *ngFor="let a of ingredientAlternatives" class="col-md-12">
                  <table *ngIf="a.ingredients.length" class="table">
                    <thead>
                      <tr>
                        <th class="w-20" scope="col">{{ a.category.code + ' ' + a.relation.code }}</th>
                        <th class="w-15" scope="col">Protein</th>
                        <th class="w-15" scope="col">Fat</th>
                        <th class="w-15" scope="col">Carbohydrate</th>
                        <th class="w-25" scope="col">Energy amount</th>
                        <th class="w-10" scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of a.ingredients">
                        <td>
                          <a href="javascript:void(0)"
                             [routerLink]="['/ingredients/', i.id]"
                             [ngClass]="{ 'text-danger': i.allergic }">{{ i.name }}</a>
                        </td>
                        <td>{{ i.protein }} g</td>
                        <td>{{ i.fat }} g</td>
                        <td>{{ i.carbohydrate }} g</td>
                        <td>{{ energyAmount(i.protein, i.fat, i.carbohydrate) }} kcals</td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-link text-primary mb-2"
                            (click)="onAlternativeIngredientClick(i)">
                            <span class="h6"><i class="fa fa-fw fa-plus"></i> Add</span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
