$topnav-background-color: #222;

.form-group {
    padding: 8px 0;
    input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.6) !important;
    }

    input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.6) !important;
    }

    input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.6) !important;
    }

    input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.6) !important;
    }
    /* Change the white to any color ;) */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 30px #222 inset;
        -webkit-text-fill-color: #fff;
        transition: background-color 5000s ease-in-out 0s;
        caret-color: #fff;
    }
    // input:-webkit-autofill:hover,
    // input:-webkit-autofill:focus
}
.form-content {
    padding: 0 0 40px 0;
}
.form-error {
  color: #dd0031;
}
.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
}
.input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 0;
}
.input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none;
}
.rounded-btn {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    background: $topnav-background-color;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    margin-bottom: 10px;
}
.rounded-btn:hover,
.rounded-btn:focus,
.rounded-btn:active,
.rounded-btn:visited {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    outline: none;
}

.rounded-btn[disabled] {
    color: rgba(0,0,0,.26);
    cursor: default;
    background-color: transparent;
}

.input-is-invalid {
    border-bottom: 2px solid #dd0031;
}
