<form role="form" (ngSubmit)="onSubmit()">
    <div class="form-content">
        <div class="form-group">
            <input
              [(ngModel)]="user.username"
              [ngClass]="{ 'input-is-invalid': error.username }"
              name="username"
              type="text"
              class="form-control input-underline input-lg"
              placeholder="Email" required>
              <small *ngIf="error.username" class="form-error">{{ error.username }}</small>
        </div>

        <div class="form-group">
            <input
              [(ngModel)]="user.password"
              [ngClass]="{ 'input-is-invalid': error.password }"
              name="password"
              type="password"
              class="form-control input-underline input-lg"
              placeholder="Password" required>
              <small *ngIf="error.password" class="form-error">{{ error.password }}</small>
        </div>
    </div>
    <button type="submit" class="btn rounded-btn">
       {{ !loading ? 'Sign in' : '' }}
       <loader-light *ngIf="loading"></loader-light>
     </button>
    <a class="btn btn-default" [routerLink]="['/auth/signup']"> Create an account </a>
</form>
<span *ngIf="globalError" class="form-error">{{ globalErrorMsg }}</span>
