<div [@routerTransition]>
  <app-page-header [heading]="'BMI Calculator'"></app-page-header>

  <div class="row">
    <div class="col-md-12">
      <div style="width: 100%;">
        <iframe style="width: 100%; height: 470px;" title="BMI Healthy weight calculator" src="http://media.nhschoices.nhs.uk/tools/documents/healthy_weight_v3/healthy_weight.html" frameborder="no" scrolling="no"></iframe>
        <div id="assessment_webpart_branding" style="float:right;">
          <a href="http://nhs.uk/tools/" alt="content provided by NHS Choices">
            <img src="http://media.nhschoices.nhs.uk/tools/documents/self_assessments_js/images/syndication.png" width="264" height="38" border="0" alt="content provided by NHS Choices" style="margin-right:22px;" />
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
