<div class="d-flex align-items-center justify-content-center" [ngClass]="class" >
  <div class="loader"></div>
</div>

<div *ngIf="label" class="d-flex align-items-center justify-content-center">
  <strong>{{ label }}</strong>
</div>
