<nav class="sidebar" [ngClass]="{sidebarPushRight: false}">
    <div class="list-group">
      <a routerLink="/dishes" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-cutlery"></i>
        <span class="sidebar-link-text">Dishes</span>
      </a>

      <a routerLink="/ingredients" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-lemon-o"></i>&nbsp;
        <span class="sidebar-link-text">Ingredients</span>
      </a>

      <a routerLink="/programs" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-calendar-check-o"></i>
        <span class="sidebar-link-text">Programs</span>
      </a>

      <a routerLink="/catalogs" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-database"></i>
        <span class="sidebar-link-text">Catalogs</span>
      </a>

      <a routerLink="/bmi-calculator" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-male"></i>
        <span class="sidebar-link-text">BMI Calculator</span>
      </a>
    </div>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
</nav>
