<div [@routerTransition]>
  <app-page-header [heading]="'New Dish'"></app-page-header>

  <div class="row">
    <div class="col-md-12">
      <success-message *ngIf="dishSaved" [message]="'Dish is successfully saved!'"></success-message>
    </div>
  </div>

  <div class="card mb-3 mt-3">
    <div class="card-body">
      <add-dish-form
        (submitDish)="createDish($event)"
        (searchIngredient)="searchIngredient($event)"
        (fetchIngredientDetails)="fetchIngredientDetails($event)"
        [dishTypes]="dishTypes"
        [dishCategories]="dishCategories"
        [ingredients]="ingredients"
        [searching]="searching"
        [ingredientDetails]="ingredientDetails"
        [ingredientAlternatives]="ingredientAlternatives"
        [ingredientDetailsFetching]="ingredientDetailsFetching"
        [ingredientNotFound]="ingredientNotFound"
        [dishUnitTypes]="dishUnitTypes"
        [cookingTypes]="cookingTypes"></add-dish-form>

      <loader-dark *ngIf="processing" [label]="'Saving...'"></loader-dark>
    </div>
  </div>

</div>
