<div class="col-md-12">
  <div class="row mt-5">
    <label class="col-lg-3">
      <h5><strong>Unit types:</strong></h5>
    </label>
    <div class="col-lg-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount of grams in 1 unit</th>
            <th *ngIf="changeUnitTypeCollapsed" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let uType of ingredientUnitTypes; let idx = index">
            <td>{{ uType.type.name }}</td>
            <td>
              <span *ngIf="!changeUnitTypeCollapsed">{{ uType.weight + ' ' + uType.type.dataType.name }}</span>
              <input
                *ngIf="changeUnitTypeCollapsed"
                class="form-control no-border"
                name="weight-{{idx}}"
                [(ngModel)]="uType.weight"
                type="text" placeholder="grams.." />
            </td>
            <td *ngIf="changeUnitTypeCollapsed">
              <a (click)="removeUnitType(idx)" href="javascript:void(0)" class="btn btn-link btn-sm no-padding text-primary h6">
                <i class="fa fa-fw fa-trash"></i> Remove
              </a>
            </td>
          </tr>

          <tr *ngIf="newUnitTypeCollapsed">
            <td class="no-padding">
              <select
                #selectForm
                class="form-control"
                (change)="onNewUnitTypeChange(selectForm)" >
                <option disabled>Select a unit type...</option>
                <option *ngFor="let u of unitTypes" [value]="u.code">{{ u.name }}</option>
              </select>
            </td>
            <td class="no-padding">
              <input
                #inputForm
                [disabled]="weightInputDisabled"
                name="weight"
                class="form-control no-border"
                type="text" placeholder="grams.."
                (input)="onNewUTWeightChange(inputForm)" />
            </td>
            <td *ngIf="changeUnitTypeCollapsed">
              <a (click)="toggleNewUnitType()" href="javascript:void(0)" class="btn btn-link btn-sm no-padding text-primary h6">
                <i class="fa fa-fw fa-trash"></i> Remove
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3">
      <a (click)="toggleChangeUnitType()" href="javascript:void(0)" class="btn btn-secondary btn-sm  text-light h6 pull-right ml-2">
        <i [ngClass]="changeUnitTypeCollapsed ? 'fa fa-ban' : 'fa fa-pencil'"></i>
         {{changeUnitTypeCollapsed ? 'Cancel' : 'Change'}}
      </a>

      <a (click)="toggleNewUnitType()" href="javascript:void(0)" class="btn btn-primary btn-sm text-light h6 pull-right ml-2">
        <i [ngClass]="newUnitTypeCollapsed ? 'fa fa-ban' : 'fa fa-plus'"></i> {{ newUnitTypeCollapsed ? 'Cancel' : 'Add new' }}
      </a>

      <a (click)="saveUnitTypeChanges()" *ngIf="changesMade" href="javascript:void(0)" class="btn btn-success btn-sm text-light h6 pull-right">
        <i class="fa fa-fw fa-check"></i> Save
      </a>
    </div>
  </div>
</div>
