<form role="form">
    <div class="form-content">
        <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" placeholder="Full Name">
        </div>

        <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" placeholder="Email">
        </div>

        <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" placeholder="Repeat Password">
        </div>
    </div>
    <a class="btn rounded-btn" [routerLink]="['/']"> Register </a>
    <a class="btn btn-default" [routerLink]="['/auth/login']"> Already have an account? </a>
</form>
