.table-caption {
  display: table-caption;
}

.icon-sort{
  cursor: pointer;
  width: 20px;
  min-width: 20px;
  //position: absolute;
  //top: 18px;
  //right: 0;
  //display: block;
}

.table {
  table-layout: fixed;
}

.table>tbody>tr>td {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 10pt;
  word-wrap: break-word;
}

.table>tbody>tr>th{
  padding-right: 27px;
  user-select: none;
}

.table > tbody > tr > td > a{
  color: #000 !important;
}

thead th {
  position: relative;
  padding-left: 0;
}

thead .cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  text-align: left;
}

.status-new {
  background-color: #d9534f;
  font-size: 8pt;
  color: #fff;
  border-radius: .25em;
  padding: .2em .6em .3em;
}

.status-approved {
  background-color: #5cb85c;
  font-size: 8pt;
  color: #fff;
  border-radius: .25em;
  padding: .2em .6em .3em;
}

.status-to-expert {
  background-color: #f0ad4e;
  font-size: 8pt;
  color: #fff;
  border-radius: .25em;
  padding: .2em .6em .3em;
}

.status-rejected {
  background-color: #337ab7;
  font-size: 8pt;
  color: #fff;
  border-radius: .25em;
  padding: .2em .6em .3em;
}

.filter-thead-cell{
  border-top: 0 !important;
}
