<a mat-raised-button class="mr-2" *ngIf="addRowUrl" routerLink="{{addRowUrl}}" color="primary">Add new record</a>
<button mat-raised-button class="mr-2" *ngIf="resetFilters" color="primary" (click)="reset()">Drop filters</button>
<button mat-raised-button class="mr-2" *ngIf="updateButton" color="primary" (click)="onSubmit()">Refresh</button>

<div class="table-responsive mt-2">
    <table #table class="table table-striped table-hover w-100">

        <colgroup>
            <col *ngFor="let column of columns" width="{{column.width}}">
        </colgroup>
        <thead #thead>
        <tr unselectable="on" onselectstart="return false;">
            <th *ngFor="let column of columns" class="cell" [ngStyle]="{'width': column.width}">
                <span *ngIf="column.sortable"
                      (click)="changeOrder($event, column)"
                      class="icon-sort fa"
                      [ngClass]="{
                        'fa-exchange fa-rotate-90': column.order == null,
                        'fa-sort-alpha-asc': column.order == 'asc',
                        'fa-sort-alpha-desc': column.order == 'dsc'
                      }">
                </span>
                {{column.name}}
            </th>
        </tr>

        <tr *ngIf="sortable">
            <ng-container [formGroup]='filterForm' (ngSubmit)="onSubmit()">
                <ng-container formArrayName='filters'
                              *ngFor="let filterControlGroup of getFormArray.controls; let i = index">
                    <th *ngIf="columns[i]" [ngStyle]="{'width': columns[i].width}" class="filter-thead-cell">
                        <ng-container [ngSwitch]="columns[i].filter.type">
                            <form *ngSwitchCase="'text'" [formGroup]='filterControlGroup' (ngSubmit)="onSubmit()">
                                <input formControlName="filterControl" class="form-control column"
                                       placeholder="{{columns[i].filter.placeholder}}">
                            </form>
                            <ng-container *ngSwitchCase="'autocomplete'" [formGroup]='filterControlGroup'>
                                <autocomplete-bs formControlName="filterControl" key='{{columns[i].filter.key}}'
                                                 [default]="columns[i].filter.default" (change)="onSubmit()"
                                                 placeholder='{{columns[i].filter.placeholder}}'></autocomplete-bs>
                            </ng-container>
                        </ng-container>
                    </th>
                </ng-container>
            </ng-container>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of items" (click)="click(item)" class="hover-cursor-pointer">
            <td *ngFor="let column of columns" [ngStyle]="{'width': column.width}">
                <ng-container [ngSwitch]="column.type">
                    <ng-container *ngSwitchCase="'embedded'">
                        {{ (item[column.property] | property: column.embedded_property) }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>{{item[column.property]}}</ng-container>
                </ng-container>
            </td>
        </tr>
        </tbody>
    </table>
</div>
