.dish-card {

  .card-body {
    padding-bottom: 6px;
    padding-top: 12px;
  }

  .card-footer {
    padding-bottom: 6px;
    padding-top: 6px;
  }

  .image-container {
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    padding: 0;
    //line-height: 100px;
  }

  .color-code-compact {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-top: 12px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
  }

  .color-code-compact:hover {
    cursor: pointer;
  }

  .dropdown-toggle::after {
      display:none;
  }
  .color-code-params {
    min-width: 320px;
    padding: 20px;
  }
}
