<div [@routerTransition]>
  <app-page-header [heading]="'Dishes'"></app-page-header>

  <div class="row">
    <div class="col-md-12">
      <success-message *ngIf="successDelete" [message]="successDelete"></success-message>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3 p-0 d-flex justify-content-between">
      <div class="col-md-4">
        <search-dish-form (search)="searchDishes($event)"></search-dish-form>
      </div>

      <div class="col-md-4">
        <loader-dark *ngIf="searching" [label]="'Searching...'"></loader-dark>
      </div>

      <div class="col-md-4">
        <a class="btn btn-primary btn-sm  text-light h6 pull-right mb-3" [routerLink]="['/dishes/new']">
          <span class="h6"><i class="fa fa-fw fa-plus"></i> Add new</span>
        </a>

        <button (click)="collapseFilterForm()" class="btn btn-secondary btn-sm text-light h6 pull-right mb-3 mr-2" >
          <span *ngIf="!filterFormCollapsed" class="h6"><i class="fa fa-fw fa-filter"></i> Filter</span>
          <span *ngIf="filterFormCollapsed" class="h6"><i class="fa fa-fw fa-ban"></i> Cancel</span>
        </button>
      </div>
    </div>

    <div *ngIf="filterFormCollapsed" class="col-md-12 mb-4">
      <filter-dish-form
        (pushUrl)="searchDishes($event)"
        [dishTypes]="dishTypes"
        [dishCategories]="dishCategories" ></filter-dish-form>
    </div>

    <div *ngIf="dishes" class="col-md-12">
      <div *ngFor="let dish of dishes" class="card dish-card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="text-body col-md-10">
              <div class="d-flex">
                <h2><a [routerLink]="['/dishes/', dish.id]">{{ dish.name }}</a></h2>

                <div ngbDropdown *ngIf="dish.healthFactor">
                  <div
                    class="color-code-compact"
                    [ngStyle]="{ 'background-color': dish.healthFactor.colorHex }"
                    ngbDropdownToggle>
                  </div>

                  <!-- <div class="color-code-params" ngbDropdownMenu>
                    <h5><small>{{ 'Total factor: ' + dish.healthFactor.factor }}</small></h5>
                    <ul>
                      <li [ngStyle]="{ 'color': p.colorHex }" *ngFor="let p of dish.healthFactor.params">
                        <small [ngStyle]="{ 'color': 'black' }">{{ p.code + ': ' + p.factor }}</small>
                      </li>
                    </ul>
                  </div> -->
                </div>
              </div>

              <div class="h5 mt-3">
                <strong>Energy amount in 100g:</strong>
                <em>
                  {{ energyAmount(dish.protein * 100 / dish.weight, dish.fat * 100 / dish.weight, dish.carbohydrate * 100 / dish.weight) }} kilocalories</em>
              </div>
              <p>
            </div>
            <div class="image-container col-md-2">
              <ng-container *ngIf="dish.photoBase64; else notHasProfile">
                <img class="card-img-top image"
                     [src]="'data:image/jpg;base64,'+ dish.photoBase64 | safeHtml"
                     alt="Image here..."/>
              </ng-container>
              <ng-template #notHasProfile>
                <loader-image *ngIf="loadAvatar"></loader-image>
                <div *ngIf="!loadAvatar" class="loader-wrap">
                  <p [class.hidden]="loadAvatar"> No image...</p>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <small>Date added: {{ convertDate(dish.dateAdded) }}</small>
        </div>
      </div>
    </div>

    <div *ngIf="(!dishes || !dishes.length) && !loading" class="col-md-12">
      <error-message [message]="'There is no such dishes found :('"></error-message>
    </div>

  </div>

  <app-pagination
    *ngIf="dishes && total"
    [collectionSize]="collectionSize"
    (changePageSize)="onPageSizeChange($event)"
    (changePage)="onPageChanged($event)"></app-pagination>

</div>
