<div class="col-lg-12">
  <select size="10" class="form-control"
    #categoryForm
    (change)="onCategorySelected(categoryForm)">
    <option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</option>
  </select>
</div>
