<div [@routerTransition]>
    <app-page-header [heading]="'Catalogs'"></app-page-header>
    <loader-dark *ngIf="loading"></loader-dark>

    <div class="row">
        <div class="col-md-12">
            <success-message *ngIf="successDelete" [message]="successDelete"></success-message>
        </div>
    </div>

    <div  *ngIf="!loading" class="table-responsive">
        <table class="table table-bordered table-hover w-100" id="dataTable">
            <thead>
                <tr>
                    <th class="w-14">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of catalogs" [ngClass]="{'bg-alpha-info': i.id === editCatalogModel.id}">
                    <td>
                        <div class="row">
                            <div class="col-sm-10">
                                <app-editable selector="input"
                                              type="text"
                                              [displayable]="i.description"
                                              [(editable)]="editCatalogModel.description"
                                              [currItemId]="i.id"
                                              [editItemId]="editCatalogModel.id"></app-editable>
                                <!--<a [routerLink]="['/catalogs/', i.name]">{{ i.description }}</a>-->
                            </div>
                            <div class="col-sm-2">
                                <div *ngIf="editCatalogModel.id && editCatalogModel.id === i.id">
                                    <span (click)="updateCatalog(i.id)" class="text-success hover-cursor-pointer">
                                        Сохранить
                                    </span><br>
                                    <span (click)="cancelEditCatalog()" class="text-muted hover-cursor-pointer">
                                        Отмена
                                    </span>
                                </div>
                                <div *ngIf="!editCatalogModel.id" class="small">
                                    <span [routerLink]="['/catalogs/', i.id]" class="text-info hover-cursor-pointer">
                                        Детали
                                    </span><br>
                                    <span (click)="editCatalog(i)" class="text-primary hover-cursor-pointer">
                                        Изменить
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th class="border-bottom-0">Name</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
