<div [@routerTransition]>
    <app-page-header [heading]="catalog.description" *ngIf="!loading" ></app-page-header>
    <loader-dark [class]="'mt-5'" *ngIf="loading"></loader-dark>

    <div *ngIf="!loading"  class="row">
        <div class="col-md-12">
            <success-message *ngIf="successEdit" [message]="successEdit"></success-message>
        </div>
    </div>

    <div *ngIf="!loading" class="row">
        <div class="col-md-12">
            <a class="btn btn-link btn-sm text-primary h6 mb-3" (click)="previousState()">
                <span class="h6"><i class="fa fa-fw fa-arrow-circle-left"></i> Back</span>
            </a>
        </div>
    </div>

    <div class="card mb-3" *ngIf="!loading">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <!--<th class="w-14">Name</th>-->
                        <th class="w-14" *ngFor="let key of propertyKeys">
                            <span *ngIf="isForeign(key)">{{key.slice(0, -2)}}</span>
                            <span *ngIf="!isForeign(key)">{{key}}</span>
                        </th>
                        <th class="w-14">Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <!--<th>Name</th>-->
                        <th *ngFor="let key of propertyKeys">
                            <span *ngIf="isForeign(key)">{{key.slice(0, -2)}}</span>
                            <span *ngIf="!isForeign(key)">{{key}}</span>
                        </th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let catalog of catalogData;">
                            <td *ngFor="let key of propertyKeys">
                                <div>
                                    <app-editable *ngIf="!uneditableKeys.includes(key)" selector="input"
                                                  [type]="isInteger(key) ? 'number' : 'text'"
                                                  [displayable]="catalog[key]"
                                                  [(editable)]="editCatalogDataModel[key]"
                                                  [currItemId]="catalog.id"
                                                  [editItemId]="editCatalogDataModel.id"></app-editable>


                                    <div *ngIf="uneditableKeys.includes(key) && !isForeign(key)">
                                        <span *ngIf="isBooleanVal(catalog[key])" [ngClass]="{'text-success': catalog[key], 'text-danger': !catalog[key]}">
                                            {{catalog[key] ? 'Да' : 'Нет'}}
                                        </span>
                                        <span *ngIf="!isBooleanVal(catalog[key]) && (!isObject(catalog[key.slice(0, -2)]) || catalog[key.slice(0, -2)] === undefined)">{{ catalog[key] }}</span>
                                        <span *ngIf="!isBooleanVal(catalog[key]) && isObject(catalog[key.slice(0, -2)]) && catalog[key.slice(0, -2)] !== undefined">{{ catalog[key.slice(0, -2)]?.name }}</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="editCatalogDataModel.id && editCatalogDataModel.id === catalog.id">
                                    <span (click)="updateCatalogData(catalog.id)" class="text-success hover-cursor-pointer">
                                        Сохранить
                                    </span><br>
                                        <span (click)="cancelEditCatalogData()" class="text-muted hover-cursor-pointer">
                                        Отмена
                                    </span>
                                </div>
                                <div *ngIf="!editCatalogDataModel.id">
                                    <span (click)="editCatalogData(catalog)" class="text-primary hover-cursor-pointer">
                                        Изменить
                                    </span><br>
                                        <span [ngClass]="{'text-success': !catalog.active, 'text-danger': catalog.active}"
                                              (click)="toggleCatalogDataActivation(catalog.id)" class="hover-cursor-pointer">
                                        {{catalog.active ? 'Деактивировать' : 'Активировать'}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary btn-sm mt-2 text-light h6" (click)="newCatalogDataModal(addNew)"><span class="h6"><i class="fa fa-fw fa-plus"></i> Add new</span></a>
        </div>
    </div>

    <!-- Add catalog data modal window -->
    <ng-template #addNew let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Add new catalog data</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngFor="let key of propertyKeys;">
                <!-- for displaying checkbox (Ex:IsDisabled)  -->
                <div class="form-check" *ngIf="isBoolean(key) && key !== 'active'">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="{{key}}"
                               [(ngModel)]="addCatalogDataModel[key]">
                        {{ key }}
                    </label>
                </div>

                <!--&lt;!&ndash; for displaying datePicker  &ndash;&gt;-->
                <!--<div class="form-group row" *ngIf="isDate(key)" >-->
                    <!--<label class="col-4 col-form-label">{{key}}</label>-->
                    <!--<div class="col-8">-->
                        <!--<my-date-picker name="{{key}}" [options]="myDatePickerOptions"-->
                                        <!--[ngModel]="{ date: addCatalogDataModel[key] | date:'dd.MM.yyyy'}"-->
                                        <!--(ngModelChange)="addCatalogDataModel[key]=transformDate($event)"></my-date-picker>-->
                    <!--</div>-->
                <!--</div>-->
                <!--  For displaying Input String  -->
                <div class="form-group row" *ngIf="isString(key)" >
                    <label class="col-4 col-form-label">{{key}}</label>
                    <div class="col-8">
                        <input class="form-control" name="{{key}}" [(ngModel)]="addCatalogDataModel[key]" />
                    </div>
                </div>
                <!--  For displaying Input Integer  -->

                <!-- For displaying  foreign keys information  [lists] -->
                <ng-template  [ngIf]="isInteger(key) && key !== 'id'" >
                    <!--<ng-template  [ngIf]="checkForList" >-->
                        <!--<ng-template ngFor let-attrJSON [ngForOf]="attrNameOfSimpleCatalogDetail">-->
                            <!--<ng-template [ngIf]="attrJSON === key" >-->
                                <!--<div class="form-group row">-->
                                    <!--<label class="col-4 col-form-label">{{listLabel(key) }}</label>-->
                                    <!--<div class="col-8">-->
                                        <!--<ng-select [items]="simpleCatalogDetail[key]" class="custom"-->
                                                   <!--[placeholder]="'Выберите из списка'"-->
                                                   <!--bindLabel="{{getBindAttr(simpleCatalogDetail[key])}}" [clearable]="false"-->
                                                   <!--[(ngModel)]="addCatalogDataModel[key]"-->
                                                   <!--name="{{key}}" bindValue="{{getBindValue(simpleCatalogDetail[key])}}">-->
                                            <!--&lt;!&ndash;readonly="true" disabled="docType === 'detail'"&ndash;&gt;-->
                                        <!--</ng-select>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</ng-template>-->
                        <!--</ng-template >-->
                    <!--</ng-template >-->

                    <div class="form-group row" *ngIf="isForeign(key)">
                        <label class="col-4 col-form-label">{{key.slice(0, -2)}}</label>
                        <div class="col-8">
                            <ng-select [items]="fkMap.get(key)" class="custom"
                                       [placeholder]="'Выберите из списка'"
                                       bindLabel="name" [clearable]="false"
                                       [(ngModel)]="addCatalogDataModel[key]"
                                       name="{{key}}" bindValue="id">
                            </ng-select>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="!isForeign(key)">
                        <label class="col-4 col-form-label">{{key}}</label>
                        <div class="col-8">
                            <input class="form-control" type="number" name="{{key}}" [(ngModel)]="addCatalogDataModel[key]" />
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-light" (click)="c('Close click')">Отмена</button>
            <button class="btn btn-secondary" (click)="addNewCatalogData()">Добавить</button>
        </div>
    </ng-template>

</div>
