.dish-details {

  .image {
    height: 250px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    padding: 0;
    // line-height: 250px;
  }
  .upload-link{
    text-align: center;
    width: 100%;
  }
  .upload-link a:hover{
    color: #00b3ee;
    cursor: pointer;
  }
}

.spaced-text {
  white-space: pre-wrap;
}

.page-header {
  padding-bottom: 9px;
  margin: 10px 0 20px;
  border-bottom: 1px solid #eee;
}

.color-code {
  height: 25px;
  width: 25px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

.color-code:hover {
  cursor: pointer;
}

.dropdown-toggle::after {
    display:none;
}
.color-code-params {
  min-width: 320px;
  padding: 20px;
}
