<div [@routerTransition]>
  <div *ngIf="!loading" class="row">
    <div class="col-xl-12">
      <div class="page-header d-flex">
        <h2>{{ dish.name }}</h2>

        <div ngbDropdown>
          <div
            class="color-code"
            [ngStyle]="{ 'background-color': healthFactor.colorHex }"
            ngbDropdownToggle>
          </div>

          <div class="color-code-params" ngbDropdownMenu>
            <h5><small>{{ 'Total factor: ' + healthFactor.factor }}</small></h5>
            <ul>
              <li [ngStyle]="{ 'color': p.colorHex }" *ngFor="let p of healthFactor.params">
                <small [ngStyle]="{ 'color': 'black' }">{{ p.code + ': ' + p.factor }}</small>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <loader-dark [class]="'mt-5'" *ngIf="loading"></loader-dark>

  <div class="row">
    <div class="col-md-12">
      <success-message *ngIf="successEdit" [message]="successEdit"></success-message>
    </div>
  </div>

  <div *ngIf="!loading" class="row">
    <div class="col-md-12">
      <a class="btn btn-link btn-sm text-primary h6 mb-3" [routerLink]="[routerService.getPrevUrl()]">
        <span class="h6"><i class="fa fa-fw fa-arrow-circle-left"></i> Back</span>
      </a>
      <a class="btn btn-danger btn-sm  text-light h6 pull-right mb-3 ml-2" (click)="openConfirmModal(deleteConfirm)">
        <span class="h6"><i class="fa fa-fw fa-trash-o"></i> Delete</span>
      </a>
      <a class="btn btn-secondary btn-sm  text-light h6 pull-right mb-3 ml-2" [routerLink]="['/dishes/' + dish.id + '/edit']">
        <span class="h6"><i class="fa fa-fw fa-pencil"></i> Edit</span>
      </a>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="dish-details d-flex justify-content-between">
            <div class="text-body col-md-9">
              <div *ngIf="dish.description" class="row">
                <label class="col-lg-4">
                  <h5><strong>Description:</strong></h5>
                </label>
                <div class="col-lg-12">
                  <em class="spaced-text">{{ dish.description }}</em>
                </div>
              </div>

              <div class="row mt-3">
                <label class="col-lg-4">
                  <h5><strong>Categories:</strong></h5>
                </label>
                <div class="col-lg-8">
                  <h5>
                    <em *ngIf="dish.categories.length === 1">
                      {{ dish.categories[0].name }}
                    </em>
                    <em *ngIf="dish.categories.length > 1">
                      <li *ngFor="let c of dish.categories">
                        {{ c.name }}
                      </li>
                    </em>
                  </h5>
                </div>
              </div>

              <div class="row mt-2">
                <label class="col-lg-4">
                  <h5><strong>Types:</strong></h5>
                </label>
                <div class="col-lg-8">
                  <h5>
                    <em *ngIf="dish.dishTypes.length === 1">
                      {{ dish.dishTypes[0].name }}
                    </em>
                    <em *ngIf="dish.dishTypes.length > 1">
                      <li *ngFor="let type of dish.dishTypes">
                        {{ type.name }}
                      </li>
                    </em>
                  </h5>
                </div>
              </div>

              <div class="row mt-2">
                <label class="col-lg-4">
                  <h5><strong>Cooking Types:</strong></h5>
                </label>
                <div class="col-lg-8">
                  <h5>
                    <em *ngIf="!dish.cookingTypes || !dish.cookingTypes.length">
                      Not defined
                    </em>
                    <em *ngIf="dish.cookingTypes.length > 0">
                      <li *ngFor="let type of dish.cookingTypes">
                        {{ type.name }}
                      </li>
                    </em>
                  </h5>
                </div>
              </div>

              <div class="row mt-2">
                <label class="col-lg-4">
                  <h5><strong>Recipe servings number:</strong></h5>
                </label>
                <div class="col-lg-8">
                  <h5>
                    <em>{{ totalServingsNumber }}</em>
                  </h5>
                </div>
              </div>

              <div class="row mt-2">
                <label class="col-lg-4">
                  <h5><strong>Total weight:</strong></h5>
                </label>
                <div class="col-lg-8">
                  <h5><em>{{ dish.weight + ' grams' }}</em></h5>
                </div>
              </div>

              <div class="row mt-2">
                  <label class="col-lg-4">
                      <h5><strong>Macronutrients:</strong></h5>
                  </label>
                  <div class="col-lg-8">
                    <div class="card">
                      <div class="card-body">
                        <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="'pie'">
                        </canvas>
                      </div>
                      <div class="card-footer d-flex justify-content-between  ">
                        <div class="col-md-8">
                          <div class="row">
                            <label class="col-lg-6">
                              <strong>Energy amount:</strong>
                            </label>
                            <div class="col-lg-6">
                              <em>{{ roundToTwoDecimal(coef * energyAmount(dish.protein, dish.fat, dish.carbohydrate)) }} kcals</em>
                            </div>
                          </div>
                        </div>

                        <select
                          #caloriesTrigger
                          class="form-control col-md-4"
                          (change)="onCaloriesTriggered(caloriesTrigger)" >
                          <option [value]="dish.weight">Total</option>
                          <option [value]="100">In 100 grams</option>
                          <option [value]="u.weight" *ngFor="let u of dish.unitTypes">In 1 {{ u.type.name }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
              </div>

            </div>
            <div class="col-md-3">
              <div class="image col-md-12">
                <ng-container *ngIf="dish.photoBase64; else notHasProfile">
                  <img class="card-img-top image"
                       [src]="'data:image/jpg;base64,'+ dish.photoBase64 | safeHtml"
                       alt="Photo down here..."/>
                </ng-container>
                <ng-template #notHasProfile>
                  <loader-image *ngIf="loadAvatar"></loader-image>
                  <div *ngIf="!loadAvatar" class="loader-wrap">
                    <p>Photo down here...</p>
                  </div>
                </ng-template>
              </div>
              <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".image/jpeg,.png,.jpg" hidden="hidden" id="uploadPhoto">
              <div class="upload-link pt-2">
                <a (click)="fakeClick()">
                  <i class="fa fa-upload" aria-hidden="true"></i> Загрузить фото
                </a>
              </div>

            </div>
          </div>

          <div *ngIf="dish.recipeDescription" class="col-md-12 mt-5">
            <div class="row">
              <label class="col-md-12 d-flex justify-content-between">
                <h5><strong>Recipe:</strong></h5>
              </label>

              <div class="col-md-12">
                <em class="spaced-text">{{ dish.recipeDescription }}</em>
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-5">
            <div class="row">
              <label class="col-md-12 d-flex justify-content-between">
                <h5><strong>Ingredients:</strong></h5>
                <a class="btn btn-secondary btn-sm  text-light h6 mb-3 ml-2"
                  [routerLink]="['/dishes/' + dish.id + '/edit/ingredients']">
                  <span class="h6"><i class="fa fa-fw fa-pencil"></i> Change ingredients</span>
                </a>
              </label>

              <div class="col-md-12" *ngIf="dish.dishIngredients.length > 0">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Protein</th>
                      <th>Fat</th>
                      <th>Carbohydrate</th>
                      <th>Energy amount</th>
                      <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let i of dish.dishIngredients">
                      <td>
                        <a [routerLink]="['/ingredients/' + i.ingredient.id]" [ngClass]="{ 'text-danger': i.ingredient.allergic }">{{ i.ingredient.name }}</a>
                      </td>
                      <td>{{ i.ingredient.protein }} g</td>
                      <td>{{ i.ingredient.fat }} g</td>
                      <td>{{ i.ingredient.carbohydrate }} g</td>
                      <td>{{ energyAmount(i.ingredient.protein, i.ingredient.fat, i.ingredient.carbohydrate) }} kcals</td>
                      <td>
                        {{ i.unitType.code != 'BYTASTE' ? i.unitAmount + ' ' : '' }}
                        {{ i.unitType.name }}
                        {{ i.unitType.code != 'GRAMS' ? ' (' + i.weight + ' grams)' : '' }}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="dish.recipeLink" class="col-md-12 mt-5">
            <div class="row">
              <label class="col-md-12 d-flex justify-content-left">
                <h5><strong>Recipe link:</strong></h5>
                <em><a [href]="dish.recipeLink" class="ml-2">{{ dish.recipeLink }}</a></em>
              </label>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Delete dish confirmation modal window -->
  <ng-template #deleteConfirm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Confirm</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p class="text-center">Are you sure you want to delete <strong><em>{{ dish.name }}</em></strong>?</p>
        <loader-dark *ngIf="deleting" [class]="'mt-5'" [label]="'Deleting...'"></loader-dark>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleteDish(); c('Close click')">Delete</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

</div>
