.image {
  height: 60px;
  width: 60px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  text-align: center;
  padding: 0;
  // line-height: 250px;
}

.no-padding {
  padding: 0;
}

.params-list {
  padding-left: 8px;

  li {
    text-indent: -6px;
  }
}

.fa-rotate {
   -webkit-animation: spin .7s infinite linear;
   -moz-animation: spin .7s infinite linear;
   -o-animation: spin .7s infinite linear;
   animation: spin .7s infinite linear;
}
