<div [@routerTransition]>
  <app-page-header [heading]="'Ration Generation Demo'"></app-page-header>
  <loader-dark *ngIf="loading"></loader-dark>

  <div class="row" *ngIf="!loading">
    <div class="col-md-12">
      <a class="btn btn-link btn-sm h6 mb-3" [routerLink]="['/programs']">
        <span class="h6"><i class="fa fa-fw fa-arrow-left"></i> Back</span>
      </a>
      <a class="btn btn-link btn-sm h6 pull-right mb-3" [routerLink]="['/programs', program.id, 'weekly']">
        <span class="h6"><i class="fa fa-fw fa-calendar-check-o"></i> Week plan</span>
      </a>
    </div>
  </div>


  <div class="row mb-3" *ngIf="!loading">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h5>Meal plan for: <a href="javascript:void(0)"><strong>{{ user.username }}</strong></a></h5>
            </th>
            <th>
              <button (click)="generateDailyRation()" class="btn btn-link pull-right">
                <h5><strong><i [ngClass]="{ 'fa-rotate': fetchingRation }" class="fa fa-fw fa-refresh"></i> Regenerate day</strong></h5>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Gender</th>
            <td>{{ user.gender.name }}</td>
          </tr>
          <tr>
            <th scope="row">Age</th>
            <td>{{ user.age }} years</td>
          </tr>
          <tr>
            <th scope="row">Height</th>
            <td>{{ user.height }} cm</td>
          </tr>
          <tr>
            <th scope="row">Weight</th>
            <td>{{ user.weight }} kg</td>
          </tr>
          <tr>
            <th scope="row">BMR</th>
            <td>{{ userBMR }}</td>
          </tr>
          <tr>
            <th scope="row">Calories needed</th>
            <td>{{ totalCals }}</td>
          </tr>
          <tr>
            <th scope="row">Proteins needed</th>
            <td>{{ round(totalProts / 4) + 'g (' + (user.currentPhase.proteinsPercentage * 100) + '% of daily)' }}</td>
          </tr>
          <tr>
            <th scope="row">Carbs needed</th>
            <td>{{ round(totalCarbs / 4) + 'g (' + (user.currentPhase.carbsPercentage * 100) + '% of daily)' }}</td>
          </tr>
          <tr>
            <th scope="row">Fats needed</th>
            <td>{{ round(totalFats / 9) + 'g (' + (user.currentPhase.fatsPercentage * 100) + '% of daily)' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-2" *ngIf="!loading && !fetchingRation && programRation && programRation.ration ">
    <div class="col-md-8">
      <div *ngFor="let dailyMeal of programRation.ration.dailyMeals; let idx = index" class="card mb-5 bg-light">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5><strong>{{ dailyMeal.dishType.name }}</strong></h5>
            <a href="javascript:void(0)" (click)="regenerateDishType(dailyMeal.dishType.id, idx)">
              <h5><i [ngClass]="{ 'fa-rotate': loadingDT[idx] }" class="fa fa-fw fa-refresh"></i></h5>
            </a>
          </div>
          <hr/>

          <div *ngFor="let dishUnitType of dailyMeal.meals" class="mb-3 d-flex">
            <div class="d-flex justify-content-between col-md-10 no-padding">
              <div class="d-flex">
                <div class="mr-3">
                  <div class="image">
                    <small>No photo...</small>
                  </div>
                </div>

                <div>
                  <h5>
                    <strong>
                      <a href="javascript:void(0)" [routerLink]="['/dishes/', dishUnitType.dish.id]">
                        {{ dishUnitType.dish.name }}
                      </a>
                    </strong>
                  </h5>
                  <small>Serving: {{ dishUnitType.unitAmount + ' ' + dishUnitType.unitType.name }}</small>
                </div>
              </div>
            </div>

            <div class="d-flex flex-column col-md-2 no-padding">
              <span class="d-flex justify-content-between">
                <small>Proteins</small>
                <small>{{ dishUnitType.proteins }} g</small>
              </span>

              <span class="d-flex justify-content-between">
                <small>Carbs</small>
                <small>{{ dishUnitType.carbohydrates }} g</small>
              </span>

              <span class="d-flex justify-content-between">
                <small>Fats</small>
                <small>{{ dishUnitType.fats }} g</small>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-light mb-5">
        <div class="card-body">
          <canvas baseChart height="200px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="'pie'">
          </canvas>
          <h6 class="d-flex justify-content-between">
            <strong>Total calories</strong>
            <strong><em>{{ programRation.ration.calories }}</em></strong>
          </h6>
          <h6 class="d-flex justify-content-between">
            <strong>Proteins</strong>
            <strong><em>{{ programRation.ration.proteins }}</em></strong>
          </h6>
          <h6 class="d-flex justify-content-between">
            <strong>Carbohydrates</strong>
            <strong><em>{{ programRation.ration.carbohydrates }}</em></strong>
          </h6>
          <h6 class="d-flex justify-content-between">
            <strong>Fats</strong>
            <strong><em>{{ programRation.ration.fats }}</em></strong>
          </h6>

          <hr/>

          <span *ngIf="programRation.minErrorCost && programRation.avgErrorCost">
            <h6 class="d-flex justify-content-between">
              <strong>Average error cost</strong>
              <strong><em>{{ programRation.avgErrorCost }}</em></strong>
            </h6>
            <h6 class="d-flex justify-content-between">
              <strong>Minimum error cost</strong>
              <strong><em>{{ programRation.minErrorCost }}</em></strong>
            </h6>
          </span>
        </div>
      </div>

      <!--<div *ngIf="programRation" class="card bg-light">-->
        <!--<div class="card-body">-->
          <!--<div class="d-flex justify-content-center">-->
            <!--<round-progress-->
              <!--[current]="programRation.totalCalories"-->
              <!--[max]="totalCals"-->
              <!--[color]="this.healthFactor.colorHex"-->
              <!--[background]="'#eaeaea'"-->
              <!--[radius]="100"-->
              <!--[stroke]="15"-->
              <!--[semicircle]="false"-->
              <!--[rounded]="true"-->
              <!--[clockwise]="false"-->
              <!--[responsive]="false"-->
              <!--[duration]="800"-->
              <!--[animation]="'easeInOutQuart'"-->
              <!--[animationDelay]="0"></round-progress>-->
          <!--</div>-->

          <!--&lt;!&ndash; <h6 *ngFor="let param of healthFactor.params" class="d-flex justify-content-between"> &ndash;&gt;-->
            <!--<ul class="params-list">-->
              <!--<li [ngStyle]="{ 'color': p.colorHex }" *ngFor="let p of healthFactor.params">-->
                <!--<h6 class="d-flex justify-content-between">-->
                  <!--<strong [ngStyle]="{ 'color': 'black' }">{{ paramNameByCode(p.code) }}</strong>-->
                  <!--<strong [ngStyle]="{ 'color': 'black' }" *ngIf="p.weight" ><em>{{ round(p.weight) }} g</em></strong>-->
                <!--</h6>-->
              <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; <strong *ngIf="param.weight">{{ paramNameByCode(param.code) }}</strong>-->
            <!--<strong *ngIf="param.weight"><em>{{ round(param.weight) }} g</em></strong> &ndash;&gt;-->
          <!--&lt;!&ndash; </h6> &ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    </div>

  </div>

  <!-- <div class="row mb-2">
    <div class="col-md-12">
      <loader-dark *ngIf="fetchingRation" [label]="'Calculating...'"></loader-dark>
    </div>
  </div> -->

</div>
