<div *ngIf="pager.pages && pager.pages.length" class="pagination d-flex pager">
    <mat-select [(value)]="limit" class="size-options" (valueChange)="setSize(limit)">
        <mat-option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption">
            {{pageSizeOption}}
        </mat-option>
    </mat-select>
    <mat-icon (click)="setPage(1)" class="icon" [ngClass]="{disabled:pager.pageIndex === 1}">first_page</mat-icon>
    <mat-icon [ngClass]="{disabled:pager.pageIndex === 1}" (click)="setPage(pager.pageIndex - 1)">chevron_left
    </mat-icon>
    <div (click)="setPage(page)" class="page" *ngFor="let page of pager.pages"
         [ngClass]="{active:pager.pageIndex === page}">
        {{page}}
    </div>
    <mat-icon class="icon" [ngClass]="{disabled:pager.pageIndex === pager.totalPages}"
              (click)="setPage(pager.pageIndex + 1)">chevron_right
    </mat-icon>
    <mat-icon (click)="setPage(pager.totalPages)" class="icon"
              [ngClass]="{disabled:pager.pageIndex === pager.totalPages}">last_page
    </mat-icon>
</div>
