:host {
  .pager {
    margin: 15px;
    align-items: center;
    height: 42px;
    justify-content: flex-end;
    .mat-icon {
      cursor: pointer;
      width: 32px;
      height: 32px;
      font-size: 32px;
      &.disabled {
        pointer-events: none;
        color: rgba(0, 0, 0, 0.26);
      }
    }
    .page {
      cursor: pointer;
      padding: 0 0.5rem;
      font-size: 22px;
      border-radius: 3px;
      &.active {
        background-color: #3f51b5;
        color: white;
      }
    }
    .size-options {
      width: 50px;
    }
  }
}
