/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

body.sidenav-toggled {
  .main-container {
    margin-left: 55px;
  }

  .sidebar  {
    overflow-x: hidden;
    width: 55px;

    .list-group .list-group-item {
      width: 55px !important;
      height: 48px !important;

      .sidebar-link-text {
        display: none;
      }
      .sidebar-link-text:after
      .list-group-item:after{
        display: none;
      }
    }

    .sidenav-toggler {
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: 'FlipH';
    }
  }

}

.hover-cursor-pointer:hover {
  cursor: pointer !important;
}

.bg-alpha-info {
  background-color: rgba(23, 162, 184, 0.1) !important;
}
.bg-alpha-danger {
  background-color: rgba(220, 53, 69, 0.1)!important;
}
