.loader {
  border: 3px solid #343A40;
  border-top: 3px solid #f3f3f3;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 0.7s linear infinite;
  }
  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }
