<div class="col-md-12">
  <div class="row mt-5">
    <label class="col-lg-3">
      <h5><strong>Optional params:</strong></h5>
    </label>
    <div class="col-lg-6">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
          <th *ngIf="changeOptionParamCollapsed" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let oParam of ingredientOptionParamsInput; let idx = index">
          <td>{{ oParam.param.name }}</td>
          <td>
            <span *ngIf="!changeOptionParamCollapsed">{{ oParam.weight + ' '}}</span>
            <input
                    *ngIf="changeOptionParamCollapsed"
                    class="form-control no-border"
                    name="weight-{{idx}}"
                    [(ngModel)]="oParam.weight"
                    type="text" placeholder="grams.." />
          </td>
          <td *ngIf="changeOptionParamCollapsed">
            <a (click)="removeOptionalParam(idx)" href="javascript:void(0)" class="btn btn-link btn-sm no-padding text-primary h6">
              <i class="fa fa-fw fa-trash"></i> Remove
            </a>
          </td>
        </tr>

        <tr *ngIf="newOptionParamCollapsed">
          <td class="no-padding">
            <select
                    #selectForm
                    class="form-control"
                    (change)="onNewOptionParamChange(selectForm)" >
              <option disabled>Select a optional params...</option>
              <option *ngFor="let o of optionParams" [value]="o.code">{{ o.name }}</option>
            </select>
          </td>
          <td class="no-padding">
            <input  #inputForm
                    name="weight"
                    class="form-control no-border"
                    type="text" placeholder="grams.."
                    (input)="onNewOPWeightChange(inputForm)" />
          </td>
          <td *ngIf="changeOptionParamCollapsed">
            <a (click)="toggleNewOptionParam()" href="javascript:void(0)" class="btn btn-link btn-sm no-padding text-primary h6">
              <i class="fa fa-fw fa-trash"></i> Remove
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3">
      <a (click)="toggleChangeOptionParam()" href="javascript:void(0)" class="btn btn-secondary btn-sm  text-light h6 pull-right ml-2">
        <i [ngClass]="changeOptionParamCollapsed ? 'fa fa-ban' : 'fa fa-pencil'"></i>
        {{changeOptionParamCollapsed ? 'Cancel' : 'Change'}}
      </a>

      <a (click)="toggleNewOptionParam()" href="javascript:void(0)" class="btn btn-primary btn-sm text-light h6 pull-right ml-2">
        <i [ngClass]="newOptionParamCollapsed ? 'fa fa-ban' : 'fa fa-plus'"></i> {{ newOptionParamCollapsed ? 'Cancel' : 'Add new' }}
      </a>

      <a (click)="saveOptionParamChanges()" *ngIf="changesMade" href="javascript:void(0)" class="btn btn-success btn-sm text-light h6 pull-right">
        <i class="fa fa-fw fa-check"></i> Save
      </a>
    </div>
  </div>
</div>
