<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>NovaLong</h1>

            <login-form
              (submitCredentials)="auth($event)"
              [loading]="loading"
              [globalError]="globalError"
              [globalErrorMsg]="globalErrorMsg"></login-form>
        </div>
    </div>
</div>
