<div [@routerTransition]>
  <app-page-header [heading]="dish.name" *ngIf="!loading" ></app-page-header>
  <loader-dark [class]="'mt-5'" *ngIf="loading"></loader-dark>

  <div *ngIf="!loading" class="row">
    <div class="col-md-12">
      <a class="btn btn-link btn-sm text-primary h6 mb-3" [routerLink]="[routerService.getPrevUrl()]">
        <span class="h6"><i class="fa fa-fw fa-arrow-circle-left"></i> Back</span>
      </a>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <label class="col-lg-2 col-form-label">
                <h5>Search:</h5>
              </label>

              <div class="col-lg-10">
                <input
                  name="ingredientSearchName"
                  class="form-control"
                  type="text"
                  placeholder="Search an ingredient.."
                  [ngClass]="{ 'is-invalid': ingredientNotFound }"
                  [(ngModel)]="ingredientSearchName"
                  (ngModelChange)="onSearchIngredientChange()" />
                <loader-dark-input *ngIf="searching"></loader-dark-input>
                <div class="invalid-feedback">{{ ingredientNotFound }}</div>

              </div>
            </div>

            <ingredients-details-table
              *ngIf="ingredients && ingredients.length"
              [ingredients]="ingredients"
              [noDetails]="true"
              (addIngredient)="addIngredient($event)" ></ingredients-details-table>

            <div class="table-responsive ingredients-table-container mt-4" *ngIf="dish.dishIngredients && dish.dishIngredients.length">
              <h5>Ingredients:</h5>
              <table class="table" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th class="w-25">Name</th>
                    <th>Weight</th>
                    <th class="w-25"></th>
                  </tr>
                </thead>
                <tbody *ngFor="let i of dish.dishIngredients; let idx = index;" >
                  <tr>
                    <td>
                      <a href="javascript:void(0)"
                        [ngClass]="{ 'text-danger': i.ingredient.allergic }"><strong>{{ i.ingredient.name }}</strong></a>
                    </td>

                    <td>
                      <div class="d-flex">
                        <ng-select
                          name="unitType-{{idx}}"
                          class="w-75"
                          [placeholder]="dish.dishIngredients[idx].unitType
                           ? dish.dishIngredients[idx].unitType.name
                           : ''"
                          [bindLabel]="'type.name'"
                          [bindValue]="'type'"
                          [(ngModel)]="dish.dishIngredients[idx].unitType"
                          (ngModelChange)="onUnitTypeChange(dish.dishIngredients[idx])"
                          [items]="i.ingredient.unitTypes"></ng-select>
                        <input
                          placeholder="grams.."
                          name="unitAmount-{{idx}}"
                          class="form-control w-25 ml-3"
                          [disabled]="weightInputDisabled[idx]"
                          [(ngModel)]="dish.dishIngredients[idx].unitAmount" />

                      </div>
                    </td>

                    <td class="no-border">
                      <a (click)="removeIngredient(i.ingredient.id)" href="javascript:void(0)" class="pull-right btn btn-link text-primary">
                        <i class="fa fa-fw fa-trash"></i> Remove
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <error-message *ngIf="error" [message]="error"></error-message>
            </div>


              <button type="submit" class="btn btn-primary text-light h6 mt-3 pull-right">
                <i class="fa fa-fw fa-check-square-o"></i> Confirm
              </button>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>

<default-snackbar [message]="'Added, get to the bottom!'"></default-snackbar>
