<form (ngSubmit)="onSubmit()" #form>
  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Name:</h5>
    </label>
    <div class="col-lg-10">
      <input
        name="name"
        [(ngModel)]="dish.name"
        class="form-control"
        [ngClass]="{ 'is-invalid': error.name }"
        type="text" placeholder="Name of the dish..."/>
      <div class="invalid-feedback">{{ error.name }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Description:</h5>
    </label>
    <div class="col-lg-10">
      <textarea
        name="description"
        rows="4"
        [(ngModel)]="dish.description"
        class="form-control"
        type="text" placeholder="Description of the dish..."></textarea>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Recipe Link:</h5>
    </label>
    <div class="col-lg-4">
      <input
        name="recipeLink"
        [(ngModel)]="dish.recipeLink"
        class="form-control"
        type="text" placeholder="Link to the recipe..."/>
    </div>

    <label class="col-lg-2 col-form-label">
      <h5>Cooking Types:</h5>
    </label>
    <div class="col-lg-4">
      <ng-select
        name="cookingTypes"
        [ngClass]="{ 'form-control is-invalid': error.cookingTypes }"
        [placeholder]="'Select a dish cooking type...'"
        [bindLabel]="'name'"
        [items]="cookingTypes"
        [(ngModel)]="dish.cookingTypes"
        [multiple]="true"
        [closeOnSelect]="false" >
      </ng-select>
      <div class="invalid-feedback">{{ error.cookingTypes }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Category:</h5>
    </label>
    <div class="col-lg-4">
      <ng-select
        name="categories"
        [ngClass]="{ 'form-control is-invalid': error.dishCategory }"
        [placeholder]="'Select a dish category...'"
        [bindLabel]="'name'"
        [items]="dishCategories"
        [(ngModel)]="dish.categories"
        [multiple]="true"
        [closeOnSelect]="false" >
      </ng-select>
      <div class="invalid-feedback">{{ error.dishCategory }}</div>
    </div>

    <label class="col-lg-2 col-form-label">
      <h5>Serving:</h5>
    </label>
    <div class="col-lg-2">
      <ng-select
        name="type"
        [ngClass]="{ 'form-control is-invalid': error.servingType }"
        [placeholder]="'Unit type...'"
        [bindLabel]="'name'"
        [items]="dishUnitTypes"
        (ngModelChange)="onServingInputChange()"
        [(ngModel)]="dish.unitTypes[0].type" >
      </ng-select>
      <div class="invalid-feedback">{{ error.servingType }}</div>
    </div>

    <div class="col-lg-2">
      <input class="form-control" type="text" placeholder="Grams in 1 unit..."
        name="weight"
        [ngClass]="{ 'is-invalid': error.servingWeight }"
        [disabled]="servingAmountDisabled"
        [(ngModel)]="dish.unitTypes[0].weight">
      <div class="invalid-feedback">{{ error.servingWeight }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Type:</h5>
    </label>
    <div class="col-lg-10">
      <ng-select
        name="dishTypes"
        [ngClass]="{ 'form-control is-invalid': error.dishTypes }"
        [placeholder]="'Select a dish type...'"
        [bindLabel]="'name'"
        [items]="dishTypes"
        [multiple]="true"
        [(ngModel)]="dish.dishTypes"
        [closeOnSelect]="false" >
      </ng-select>
    <div class="invalid-feedback">{{ error.dishTypes }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Recipe description:</h5>
    </label>
    <div class="col-lg-10">
      <textarea
        name="name"
        rows="6"
        [(ngModel)]="dish.recipeDescription"
        class="form-control"
        type="text" placeholder="Recipe description of the dish..."></textarea>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-lg-2 col-form-label">
      <h5>Ingredients:</h5>
    </label>

    <div class="col-lg-10">
      <input
        name="ingredientSearchName"
        class="form-control"
        type="text"
        placeholder="Search an ingredient.."
        [ngClass]="{ 'is-invalid': ingredientNotFound }"
        [(ngModel)]="ingredientSearchName"
        (ngModelChange)="onSearchIngredientChange()" />
      <loader-dark-input *ngIf="searching"></loader-dark-input>
      <div class="invalid-feedback">{{ ingredientNotFound }}</div>

    </div>
  </div>

  <ingredients-details-table
    *ngIf="ingredients && ingredients.length"
    [energyAmount]="energyAmount"
    [ingredients]="ingredients"
    [ingredientDetails]="ingredientDetails"
    [ingredientAlternatives]="ingredientAlternatives"
    [ingredientDetailsFetching]="ingredientDetailsFetching"
    (addIngredient)="addIngredient($event)"
    (fetchDetails)="fetchIngredientDetails.emit($event)" ></ingredients-details-table>

  <div class="table-responsive ingredients-table-container mt-4" *ngIf="dish.dishIngredients && dish.dishIngredients.length">
      <h5>Selected ingredients:</h5>
      <table class="table" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th class="w-25">Name</th>
            <th>Weight</th>
            <th class="w-25"></th>
          </tr>
        </thead>
        <tbody *ngFor="let i of dish.dishIngredients;" >
          <tr>
            <td>
              <a href="javascript:void(0)"
                [ngClass]="{ 'text-danger': i.ingredient.allergic }"><strong>{{ i.ingredient.name }}</strong></a>
            </td>

            <td>
              <div class="d-flex">
                <ng-select
                  name="unitType"
                  class="w-75"
                  [placeholder]="'Select a unit type...'"
                  [bindLabel]="'type.name'"
                  [bindValue]="'type'"
                  [(ngModel)]="dish.dishIngredients[dish.dishIngredients.indexOf(i)].unitType"
                  [items]="i.ingredient.unitTypes"></ng-select>
                <input
                  placeholder="grams.."
                  name="weight"
                  class="form-control w-25 ml-3"
                  [(ngModel)]="dish.dishIngredients[dish.dishIngredients.indexOf(i)].unitAmount" />
              </div>
            </td>

            <td class="no-border d-flex">
              <button
                type="button"
                class="btn btn-link text-primary mb-2"
                (click)="collapseIngredientDetails(dish.dishIngredients.indexOf(i), i.ingredient.id)"
                [attr.aria-expanded]="!isCollapsed[dish.dishIngredients.indexOf(i)]"
                [attr.aria-controls]="'selectedIngredient' + i.ingredient.id">
                <span class="h6">Alternatives <i class="fa fa-fw fa-caret-down"></i></span>
              </button>

              <a (click)="removeIngredient(i.ingredient.id)" href="javascript:void(0)" class="pull-right btn btn-link text-primary">
                <i class="fa fa-fw fa-trash"></i> Remove
              </a>
            </td>
          </tr>

          <tr [id]="'selectedIngredient' + i.ingredient.id" [ngbCollapse]="isCollapsed[dish.dishIngredients.indexOf(i)]">
            <td colspan="6">
              <div>
                <loader-dark *ngIf="ingredientDetailsFetching"></loader-dark>
                <div *ngIf="!ingredientDetailsFetching && ingredientDetails">
                  <div class="row">
                    <div class="col-md-12">
                      <small *ngIf="!ingredientAlternativesIsEmpty()"  class="text-warning">
                        <em>All Ingredient alternatives will be added to this dish as well. You can remove them or add more ingredients in dish settings.</em>
                      </small>

                      <info-message *ngIf="ingredientAlternativesIsEmpty()" [message]="'This ingredient has got no alternatives'">
                      </info-message>
                    </div>

                    <div *ngFor="let a of ingredientAlternatives" class="col-md-12">
                      <table *ngIf="a.ingredients.length" class="table">
                        <thead>
                          <tr>
                            <th class="w-20" scope="col">{{ a.category.code + ' ' + a.relation.code }}</th>
                            <th class="w-20" scope="col">Protein</th>
                            <th class="w-20" scope="col">Fat</th>
                            <th class="w-20" scope="col">Carbohydrate</th>
                            <th class="w-20" scope="col">Energy amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let ing of a.ingredients">
                            <td>
                              <a href="javascript:void(0)"
                                 [ngClass]="{ 'text-danger': ing.allergic }">{{ ing.name }}</a>
                            </td>
                            <td>{{ ing.protein }}</td>
                            <td>{{ ing.fat }}</td>
                            <td>{{ ing.carbohydrate }}</td>
                            <td>{{ energyAmount(ing.protein, ing.fat, ing.carbohydrate) }} kcals</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <error-message *ngIf="error.unitTypes" [message]="error.unitTypes"></error-message>
    </div>

  <button type="submit" class="btn btn-primary text-light h6 mt-3 pull-right">
    <i class="fa fa-fw fa-check-square-o"></i> Confirm
  </button>
</form>

<default-snackbar [message]="'Added, get to the bottom!'"></default-snackbar>
