<div [@routerTransition]>
  <app-page-header [heading]="ingredientNameHeading" *ngIf="!loading" ></app-page-header>
  <loader-dark [class]="'mt-5'" *ngIf="loading"></loader-dark>

  <div *ngIf="!loading" class="row">
    <div class="col-md-12">
      <a class="btn btn-link btn-sm text-primary h6 mb-3" [routerLink]="[routerService.getPrevUrl()]">
        <span class="h6"><i class="fa fa-fw fa-arrow-circle-left"></i> Back</span>
      </a>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <edit-ingredient-form
            (submitIngredient)="editIngredient($event)"
            [ingredient]="ingredient"
            [categories]="categories"
            [unitTypes]="unitTypes" ></edit-ingredient-form>
        </div>
      </div>
    </div>

  </div>

</div>
