<div class="row">
    <div class="col col-md-12 d-flex justify-content-end">
        <select [(ngModel)]="currentPageSize" (change)="onPageSizeChange()"
                class="form-control" style="width: 75px; margin-right: 25px;">
            <option [value]="5">5</option>
            <option [value]="10">10</option>
            <option [value]="20">20</option>
        </select>
        <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="currentPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="onPageChange()"></ngb-pagination>
    </div>
</div>
