<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>NovaLong</h1>

            <signup-form></signup-form>            
        </div>
    </div>
</div>
