<div [@routerTransition]>
  <app-page-header *ngIf="ingredient && !loading"  [heading]="ingredient.name" ></app-page-header>
  <loader-dark [class]="'mt-5'" *ngIf="loading"></loader-dark>

  <div class="row">
    <div class="col-md-12">
      <success-message *ngIf="saved" [message]="'Cooking types is successfully added!'"></success-message>
    </div>
  </div>

  <div class="row" *ngIf="ingredient && !loading">
    <div class="col-md-12">
      <a class="btn btn-link btn-sm text-primary h6 mb-3" [routerLink]="[routerService.getPrevUrl()]">
        <span class="h6"><i class="fa fa-fw fa-arrow-circle-left"></i> Back</span>
      </a>
    </div>

    <div class="col-md-12">
        <div class="card cooking-type-card">
        <div class="card-body">
          <form (ngSubmit)="onSubmit(form)" #form>
            <div class="form-group row">
              <label class="col-lg-2 col-form-label">
                <h5>Cooking types:</h5>
              </label>
              <div class="col-lg-10">
                <ng-select
                  name="category"
                  [placeholder]="'Select a Cooking type...'"
                  [bindLabel]="'name'"
                  [multiple]="true"
                  [(ngModel)]="selectedCookingTypes"
                  (ngModelChange)="onCookingTypeChanged()"
                  [items]="cookingTypes">
                </ng-select>
              </div>
            </div>

            <div *ngIf="selectedCookingTypes && selectedCookingTypes.length" class="table-responsive alternatives-table-container">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Ingredient property</th>
                    <th>Ingredient property</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let type of selectedCookingTypes">
                    <td>{{ type.name }}</td>
                    <td>
                      <select
                        #propInput
                        name="property"
                        class="form-control"
                        (change)="onChange(type, propInput)" >
                        <option disabled>Select a property..</option>
                        <option *ngFor="let p of changableProps">{{ p.name }}</option>
                      </select>
                    </td>
                    <td>
                      <input
                        #diffInput
                        name="difference"
                        class="form-control"
                        type="text"
                        placeholder="Differential in percents.."
                        (change)="onChange(type, diffInput)" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <error-message *ngIf="error" [message]="error"></error-message>
            <loader-dark *ngIf="processing" [label]="'Saving...'"></loader-dark>

            <button [disabled]="submitDisabled" type="submit" class="btn btn-primary pull-right text-light mt-2 h6">
              <i class="fa fa-fw fa-check"></i> Confirm
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
